@import "../../styles/global.scss";

.Crumb {
    .Circle {
        border-radius: 100%;
        width: 1em;
        height: 1em;
        display: inline-block;
        border: 2px solid $gray-600;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        cursor: pointer;
        padding-top: 0.1em;
        background-image: linear-gradient(to top, #4a4a4a, #222222);
    }
    .InnerCircle {
        display: inline-block;
        width: .5em;
        height: .5em;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), radial-gradient(circle at 50% 50%, #36b7e0, #1285ae);
        opacity: 0;
        border-radius: 100%;
        margin: auto;
    }

    &.Active, &:hover , &:focus {
        .InnerCircle {
            opacity: 1;
        }
    }
}

.numberCrumb {
    :global(.page-link) {
        padding: 0.4rem;
    }
    .Circle {
        width: 1.5em;
        height: 1.5em;
        .InnerNumber {
            font-size: 13px;
            line-height: 18px;
            color: $gray-600;
        }
    }

    &.Active, &:hover , &:focus {
        .InnerNumber {
            color: $blue;
        }
    }
}