@import "../../styles/global.scss";


.pagination {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px 0 10px;

    .paginationArrow {
        padding: 10px;
        cursor: pointer;
        > * {
            padding: 0;
            border: 5px solid transparent;
        }
        span {
            display: none;
        }
    }
    .paginationPrev {
        border-left: none;
        border-right-color: $blue;
    }
    .paginationNext {
        border-right: none;
        border-left-color: $blue;
    }
}
