@import "../../styles/global";

.FilterList {
    width: 100%;
    padding-right: 0;
    @media (max-width: 1050px) {
        width: 40%;
    }
    @media (max-width: 1100px) {
        width: 100%;
        margin-bottom: 43px;
        padding: 0;
    }
    .titleBlock {
        display: flex;
        font-family: Blender;
        justify-content: space-between;
        .title {
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $gray-700;
        }
        .subTitle {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: $gray-700;
            line-height: 2.5;
        }
        .reset {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.5px;
            padding-left: 22px;
            padding-top: 0;
            color: $blue;
            line-height: 2.5;
            border: 0;
        }
    }
    .buttonBlock {
        height: 39px;
        margin: 25px 0 0 0;
        .addButton {
            height: 100%;
            width: 100%;
            color: $blue;
            border: 1px solid $blue;
            background: transparent;
            &:hover {
                border-color: $white;
            }
        }
    }
    .filterAccordion {
        padding: 14px 0;
        :global(.form-group) {
            margin-bottom: 0px;
        }
        h4 {
            font-size: 16px;
        }
        .dropdownBlock {
            display: flex;
            .dropSpan {
                flex: 1;
                font-family: Blender;
                font-weight: bold;
                letter-spacing: 1px;
                color: $gray-700;
                font-size: 10px;
                padding-top: 14px;
                text-align: center;
            }
            .dropDown {
                flex: 3;
            }
        }
    }
}
