@import "../../styles/global.scss";


.form {
    padding: 15px 0;
    margin-bottom: 40px;
    background: linear-gradient(to right, $gray-850, $black);

    :global(.container) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 65px;

        > *:not(.forms):not(.searchButton) {
            margin: 15px 30px;
            flex: 1;
            @media (min-width: 1324px) {
                max-width: 270px;
            }

            @media (max-width: 1024px) {
                flex: initial;
                min-width: 230px;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            @media (max-width: 600px) {
                min-width: 0;
            }
        }
        > *:not(.forms):not(.searchButton):first-child {
            margin: 15px 30px;
            @media (min-width: 1300px) {
                margin: 15px 19px;
            }
        }
        > *:not(.forms):not(.searchButton):nth-child(even) {
            margin: 15px 30px;
            @media (min-width: 1300px) {
                margin: 15px 12px 15px 29px;
            }
        }

        @media (max-width: 1024px) {
            padding: 0;
        }
    }

    .searchMargin {
        margin: 15px;
        min-width: 212px;
    }
    .search{
        height: 40px !important;
        width: 100% !important;
        padding: 10px 15px;
        color: $gray-300;
        font-size: 12px;
        border: none;
        box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
        background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            padding-right: 36px;
        }

        &::-webkit-input-placeholder {
            color: $gray-300;
        }
        &::-moz-placeholder {
            color: $gray-300;
        }
        &:-ms-input-placeholder {
            color: $gray-300;
        }
        &:-moz-placeholder {
            color: $gray-300;
        }
    }
}

.forms {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: $gray-900;

    > *:not(.searchButton) {
        margin: 15px;
        min-width: 212px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
.searchButton {
    margin: 15px;
    padding: 0 30px;
    height: 40px;
    font-family: 'Blender';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
}
