@import "../styles/global";
.sellPage {
    li {
        background-color: #000;
    }
}
.ImgBlock {
    background: url(/images/buySellParts.jpg) no-repeat;
    background-position: center calc(100% - -51px);
    background-size: cover;
    margin-bottom: -60px;
    height: 418px;
}
