@import "../styles/global";

.mainBlock {
    margin-top: -97px;
    @media (max-width: 400px) {
        margin-top: -30px;
    }
}
.asideMenu {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    @media (max-width: 768px) {
        display: none;
    }
}

.mobileMenu {
    display: none;
    margin-bottom: 30px;

    .menuAccordion {
        padding: 14px 0;
    }
    @media (max-width: 768px) {
        display: block;
    }
}

.dashboardMenu {
    text-transform: uppercase;
    font-family: 'Blender';
    color: $gray-500;

    h3 {
        margin-bottom: 4px;
        font-size: 21px;
        letter-spacing: 1.6px;
    }
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 12px;
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 16px;
            letter-spacing: 1.2px;
            line-height: 1.35;
            cursor: pointer;

            a:link,
            a:visited,
            a {
                color: $gray-500;
            }
            a:hover {
                text-decoration: none;
                color: $blue;
            }

            &.active a {
                color: $blue;
            }

            &:hover,
            &:hover a {
                color: $blue;
            }
        }
    }
}

.mainContent {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 250px);

    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
}

.pageContent {
    margin-bottom: 80px;
}
