@import "../styles/global";

.nearPrice {
    display: flex;
    align-items: center;
    font-family: 'Blender';
    .priseSpan {
        color: $blue;
        font-size: 36px;
        padding-right: 16px;
        padding-bottom: 5px;
        white-space: nowrap;
    }
    .priseInfo {
        font-size: 11px;
        letter-spacing: 1px;
        color: $blue;
        text-transform: uppercase;
    }
}
.buttonBlock {
    clear: both;
    display: flex;
    justify-content: flex-end;
    .buttonAsk {
        width: 160px;
        height: 39px;
        background: transparent;
        border-color: $blue;
        &:hover {
            background: $blue;
        }
    }
    .buttonMake {
        width: 159px;
        height: 39px;
    }
}
.infoSpan {
    color: $gray-600;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    margin-bottom: 36px;
}
