@import "../styles/global.scss";

.ImageWidgetDriver.ImageWidgetDriver {
    @media (min-width: 1000px) {
        width: 460px;
        padding: 15px 15px 12px;
    }
    :global(.ImageWidget__label){
        margin-top: 12px;
    }
    :global(.ImageWidget__img){
        height: 235px;
    }
}
