@import "../../styles/global";

.OverallRating {
    font-family: 'Blender';
    .value {
        color: $blue;
        font-size: 34px;
        line-height: 1;
        font-weight: 600;
    }
    .subTitle {
        color: $blue;
        padding-left: 4px;
        line-height: 1;
        padding-top: 2px;
    }
    .review {
        font-size: 10.8px;
        color: $gray-600
    }
    .rating {
        padding-left: 30px;
    }
}
