@import "../../../styles/global.scss";
.containerBlock {
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    .questionsList {
        width: 49%;
        padding: 42px 0 0 10px;
        @media (max-width: 992px) {
            width: 100%;
            padding: 20px 0;
        }
        .title {
            font-weight: bold;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 19px;
            font-family: Blender;
            letter-spacing: 2.5px;
        }
        .listItem {
            border-bottom: 2px solid $gray-800;
            &:not(:first-child) {
                margin-bottom: 26px;
            }
            &:first-child {
                margin-top: 0;
            }
            .titleBlock {
                margin-right: 27px;
                font-weight: bold;
                text-transform: uppercase;
                color: $blue;
                font-size: 19px;
                font-family: Blender;
                letter-spacing: 1px;
            }
            .textBlock {
                flex: 1;
                text-align: left;
                font-size: 16px;
                margin-bottom: 26px;
                letter-spacing: 0.5px;
                font-family: Blender;
                color: $gray-600;
            }
            .questionBlock {
                display: flex;
                padding-top: 3px;
                .question {
                    display: inline;
                    text-align: left;
                    color: $blue;
                    font-size: 16px;
                    margin-bottom: 14px;
                    letter-spacing: 0.5px;
                    line-height: 2;
                    padding-top: 4px;
                    margin-right: 29px;
                    font-family: Blender;
                }
                .questionInfo {
                    display: inline-block;
                    color: $blue;
                    text-align: left;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    font-family: Blender;
                    @media (max-width: 450px) {
                        margin-bottom: 18px;
                        flex-direction: column;
                    }

                    .textInfo {
                        max-width: 348px;
                    }
                    .speed {
                        margin-right: 16px;
                        display: inline-block;
                        white-space: nowrap;
                        font-size: 11px;
                        letter-spacing: 1.4px;
                        > * {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .name {
                        margin-right: 16px;
                    }

                    .questionDate {
                        text-transform: uppercase;
                        white-space: nowrap;
                        font-size: 11px;
                        letter-spacing: 1.4px;
                        color: $gray-600;
                    }
                }
            }
            .answerSectionBlock {
                display: flex;

                .titleBlock {
                    color: $gray-600;
                }
            }
        }
    }
    .infoBlock {
        width: 51%;
        padding: 13px 0 0 43px;
        @media (max-width: 992px) {
            width: 100%;
            padding: 20px 0;
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 19px;
            font-family: Blender;
            padding: 21px 0 0 0;
            letter-spacing: 2.5px;
            margin-bottom: 12px;
        }
        p {
            text-align: left;
            color: $gray-600;
            font-size: 14px;
            line-height: 23px;
            margin-top: 35px;
            margin-bottom: 54px;
        }
        .count {
            text-align: left;
            color: $gray-400;
            text-transform: uppercase;
            font-family: Blender;
            font-size: 9px;
            letter-spacing: 2px;
        }
        textarea {
            height: 233px !important;
            margin-top: 8px;
            width: 100% !important;
            color: $gray-300;
            padding: 10px 10px 10px 20px;
            font-size: 11px;
            border: none;
            box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                padding-right: 36px;
            }

            &::-webkit-input-placeholder {
                color: $gray-300;
            }
            &::-moz-placeholder {
                color: $gray-300;
            }
            &:-ms-input-placeholder {
                color: $gray-300;
            }
            &:-moz-placeholder {
                color: $gray-300;
            }
        }
        .buttonBlock {
            display: flex;
            justify-content: flex-end;
            .button {
                width: 101px;
                height: 39px;
                margin-top: 14px;
            }
        }
    }
}
