@import "../../styles/global";


.dropDown {
    position: relative;
    width: 100%;
    height: 40px;
    color: $gray-300;

    :global(.Select-control),
    :global(.Select.is-focused .Select-control) {
        width: 100%;
        height: 40px;
        margin: 0;
        font-family: 'Roboto';
        font-size: 12px;
        color: $gray-300;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    :global(.Select-placeholder),
    :global(.Select-input),
    :global(.Select-control .Select-value) {
        color: $gray-300;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 50px;
    }

    :global(.Select-placeholder) {
        &:before{
            content: '';
            position: absolute;
            right: 42px;
            top: 2px;
            height: calc(100% - 4px);
            width: 1px;
            background: linear-gradient(to bottom, #727272, #969696);
        }
    }

    :global(.Select-menu-outer) {
        border: none;
        z-index: 3;
        > div > div{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    input {
        color: $gray-300;
    }

    &:global(.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label),
    &:global(.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label) {
        color: $gray-300;
    }

    :global(.Select-control) > *:last-child {
        padding-right: 2px;
    }

    .dropDownOption {
        background: $gray-600;
        color: $gray-300;
        font-size: 12px;

        &:hover {
            background: $gray-700;
        }
    }

    &:before {
        content: '';
        right: 2px;
        top: 2px;
        position: absolute;
        height: calc(100% - 4px);
        width: 36px;
        pointer-events: none;
        background-image: linear-gradient(-180deg, #696969 19%, #313131 83%);
        z-index: 1;
    }

    &:after {
        content: '';
        right: 13px;
        top: calc(50% - 4px);
        position: absolute;
        pointer-events: none;
        border: 7px solid transparent;
        border-top-width: 9px;
        border-bottom: 0;
        border-top-color: $blue;
        z-index: 2;
    }
}
