@import "../../styles/global";
.helpBlock {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    color: #37b7e0;
    display: inline-block;
    position: relative;

    .icon {
        position: relative;
        cursor: pointer;
    }
    .help {
        position: absolute;
        display: none;
        background-color: #000000;
        border-radius: 5px;
        border: solid 1px $gray-500;
        padding: 10px 10px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 284px;
        bottom: 35px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        color: #d2d2d2;

        &:before {
            content: '';
            position: absolute;
            left: calc(50% - 12px);
            border: 12px solid transparent;
            border-bottom: none;
            border-top-color: $gray-500;
            top: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 10px);
            border: 10px solid transparent;
            border-bottom: none;
            border-top-color: #000000;
            top: 100%;
        }
    }

    &:hover {
        .help {
            display: block;
        }
    }
}
