@import "../../styles/global";

.RangedDropDown {
    .dropSpan {
        flex: 1;
        font-family: Blender;
        font-weight: bold;
        letter-spacing: 1px;
        color: $gray-700;
        font-size: 10px;
        padding-top: 14px;
        text-align: center;
    }
}
