.TextField {
    input {
        background-image: linear-gradient(-180deg, #5E5E5E 0%, #969696 100%);
        border: none;
        height: 39px;
        padding-left: 10px;
        font-family: 'Roboto';
        box-shadow: inset 0 0 6px 5px rgba(0,0,0,0.14);
        color: #d2d2d2;

        &:focus {
            color: #d2d2d2;
        }
    }
}
