@import "../../styles/global";

.accordionBlock {
    width: 100%;
    border-bottom: 0.5px solid #343434;
    .accordionTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-family: 'Blender';
        cursor: pointer;
    }
    .title {
        font-family: Blender;
        font-weight: bold;
        letter-spacing: 1px;
        color: $gray-600;
        font-size: 22px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .collapse{
        padding-top: 20px;
    }
    .icon {
        width: 20px;
        font-family: -webkit-pictograph;
        color: $blue;
        font-size: 33px;
        line-height: 0.5;
        font-weight: bolder;
    }

    .disabledTitle {
        pointer-events: none;
        .icon {
            color: $gray-700;
        }
    }
}
