@import "../../styles/global.scss";
.AboutBlock {
    display: flex;
    margin-top: -11px;
    @media (max-width: 770px) {
        flex-direction: column;
    }
    .EventsConBlock {
        width: 65%;
        margin-right: 38px;
        @media (max-width: 770px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 42px;
        }
        .scheduleItem {
            &:last-child td {
                padding: 17px;
                font-size: 22px;
                letter-spacing: -1px;
            }
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 32px;
            font-family: Blender;
            padding: 21px 0 0 20px;
            letter-spacing: 2.5px;
            margin-bottom: 12px;
            @media (max-width: 400px) {
                font-size: 21px;
                padding-left: 27px;
            }
        }
        .details, .Schedule {
            width: 100%;
            @media (max-width: 400px) {
                margin-right: 0;
            }
            tr {
                td {
                    padding: 8px;
                    font-size: 14px;
                    line-height: 24px;
                    @media (max-width: 400px) {
                        font-size: 12px;
                    }

                    &:first-child {
                        text-align: center;
                        width: 32%;
                        @media (max-width: 400px) {
                            width: auto;
                        }
                    }
                    &:last-child {
                        padding: 8px;
                        @media (min-width: 1300px) {
                            padding-left: 42px;
                        }
                    }
                }
                p {
                    margin: 0;
                }
            }
            .detailsContacts {
                a {
                    display: block;
                }
            }
        }
    }
    .contentBlock {
        padding: 26px 19px 0 19px;
        background-image: linear-gradient(to bottom, #363636, #171717);
        @media (max-width: 400px) {
            margin-right: 0;
        }
        p {
            padding-bottom: 19px;
            font-size: 12px;
            font-weight: bold;
            text-align: left;
        }
    }
    .imagesBlock {
        width: 36%;
        @media (max-width: 770px) {
            width: 100%;
            padding-right: 10px
        }
        @media (max-width: 400px) {
            padding-right: 0px
        }
        .locationBlock {
            background-image: linear-gradient(to bottom, #363636, #171717);
            padding: 19px 23px 47px;
            margin-bottom: 35px;
            @media(max-width: 400px) {
                padding: 19px 15px 47px;
            }
            .title {
                margin-bottom: 5px;
                padding: 0;
            }
            .numberTitle {
                margin-top: -7px;
                font-weight: bold;
                font-size: 21px;
                text-align: left;
                text-transform: uppercase;
                font-family: Blender;
                letter-spacing: 1.6px;
                @media (max-width: 400px) {
                    font-size: 21px;
                }
            }
            .map {
                width: 100%;
                margin: 27px 0 8px;
                height: 291px;
            }
            .LocationTitle {
                font-weight: bold;
                font-size: 21px;
                text-align: left;
                text-transform: uppercase;
                font-family: Blender;
                margin-bottom: 0;
                letter-spacing: 1.6px;
                @media (max-width: 400px) {
                    font-size: 21px;
                }
            }
        }
        .logoBlock {
            background-image: linear-gradient(to bottom, #363636, #171717);
            padding: 33px 23px 17px;
            margin-bottom: 29px;
            @media(max-width: 400px) {
                padding: 19px 15px 17px;
            }
            .title {
                padding: 0;
            }
        }
        .organisedBlock {
            background-image: linear-gradient(to bottom, #363636, #171717);
            padding: 16px 17px 40px;
            .organisedLogo {
                display: flex;
                .logo {
                    margin-right: 10px;
                    img {
                        height: auto;
                        width: 50px;
                    }
                }
                .note {
                    p {
                        padding-top: 7px;
                    }
                }
            }
            .title {
                padding: 0;
                margin-bottom: 13px;
                @media (max-width: 1000px) {
                    font-size: 25px;
                }
            }
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 32px;
            font-family: Blender;
            padding: 32px 0 0 20px;
            letter-spacing: 2.8px;
            margin-bottom: 36px;
            @media (max-width: 400px) {
                font-size: 21px;
                padding-left: 27px;
            }
        }
        .subTitle {
            font-size: 21px;
            font-weight: bold;
            padding-top: 23px;
            font-family: Blender;
            letter-spacing: 1.6px;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 12px;
            color: $gray-600;
        }
        .sponsorLogo {
            display: block;
            max-width: 370px;
            margin: 0 auto;
            padding: 0 30px;
            margin-bottom: 30px;
            cursor: pointer;
            img {
                height: auto;
                width: 100%;
            }
        }
        .note {
            letter-spacing: 0.5px;
            padding-left: 3px;
            p {
                font-size: 18px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 4px;
                a {
                    color: #d7d7d7;
                    text-decoration: underline;
                }
            }
        }
    }
}
