@import "../../styles/global.scss";
@import '../../styles/datetime.css';

.eventCreate {
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    .navlinksSection {
        width: 25%;
        font-family: Blender;
        text-transform: uppercase;
        @media (max-width: 1200px) {
            width: 31%;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        .Active {
            color: $blue;
        }
        .navlinksList,.navlinksList li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a {
            cursor: pointer;
            font-size: 16px;
            display: block;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 1px;
            color: #717171;
            &:hover{
                color: $blue;
            }
        }
        .title {
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 0;
            line-height: 32px;
            color: #696969;
        }
    }
    .contentSection {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
            margin: 0 auto;
            order: 1;
        }
    }
    .buttonSection {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 70px;
        @media (max-width: 992px) {
            width: 100%;
            align-items: flex-end;
            margin-bottom: 26px;
            margin-top: -80px;
            padding-right: 0px;
        }
        @media (max-width: 460px) {
            align-items: center;
            margin-top: 16px;
        }
        button {
            width: 132px;
            max-height: 22px;
            margin-top: 18px;
            line-height: 15px;
        }
    }
    .stepType {
        padding: 19px 27px 10px 21px !important;
        p {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            color: $gray-600;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            font-family: Roboto;
        }
        .buttonUpdate {
            display: flex;
            justify-content: flex-end;
            @media (max-width: 400px) {
                justify-content: center;
            }
            button {
                min-width: 234px;
                font-size: 15px;
                letter-spacing: normal;
                padding: 0 0 0 4px;
                margin: 43px 0 25px 0;
                line-height: normal;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 900;
                @media (max-width: 400px) {
                    min-width: 225px;
                    margin: 43px 0px 25px 6px;
                }
            }
        }
        .titleStep {
            margin-bottom: 2px;
        }
        .eventTypeBlock {
            margin-bottom: -3px;
        }
        .reviePriceBlock {
            margin-bottom: -4px;
            .sillyMargin {
                textarea {
                    min-height: 100px !important;
                    margin: 8px 0;
                }
            }
        }
        .AdditionalBlock{
            margin-top: 15px;
            p {
                line-height: normal;
            }
            .sillyMargin {
                textarea {
                    min-height: 143px !important;
                    margin: 10px 0 0 0;
                }
            }
        }
    }
    .stepDetails {
        font-family: Blender;
        background-image: linear-gradient(to bottom, #363636, #171717);
        margin: 5px 10px 0 11px;
        padding: 23px 17px 29px 17px;
        @media (max-width: 1200px) {
            margin: 5px 0 0 0;
        }
        .titleStepBlock {
            display: flex;
            justify-content: space-between;
            @media (max-width: 400px) {
                flex-direction: column;
            }
        }
        .titleStep {
            position: relative;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #949494;
        }
        .subTitleStep {
            font-size: 11px;
            padding-top: 18px;
            margin-bottom: 0;
            font-weight: 900;
            letter-spacing: 1px;
            color: #949494;
        }
        .blockInput {
            height: 40px !important;
            width: 100% !important;
            color: $gray-300;
            padding: 10px 10px 10px 20px;
            font-size: 11px;
            border: none;
            box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @media screen and (-webkit-min-device-pixel-ratio: 0) {
                padding-right: 36px;
                font-size: 17px;
            }

            &::-webkit-input-placeholder {
                color: $gray-300;
            }
            &::-moz-placeholder {
                color: $gray-300;
            }
            &:-ms-input-placeholder {
                color: $gray-300;
            }
            &:-moz-placeholder {
                color: $gray-300;
            }
        }
        .reviewheadingBlock {
            margin-bottom: 23px;
        }
        .reviewWriteBlock {
            .sillyMargin {
                textarea {
                    min-height: 165px !important;
                    margin-bottom: 17px;
                }
            }
        }
        .dateTitle {
            font-family: Blender;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.9px;
            text-align: left;
            color: $gray-600;
        }
        .dateBlock {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 36px;
            .dateSection {
                flex: 1;
                min-width: 250px;
                &:nth-child(odd) {
                    margin: 9px 39px 0 0;
                    @media (max-width: 1300px) {
                        margin: 12px 0 0 0;
                        min-width: 350px;
                    }
                    @media (max-width: 992px) {
                        min-width: 450px;
                    }
                    @media (max-width: 600px) {
                        min-width: 250px;
                    }
                    @media (max-width: 400px) {
                        min-width: 150px;
                    }
                }
                &:nth-child(even) {
                    margin: 9px 2px -20px 0;
                    @media (max-width: 1300px) {
                        margin: 12px 0 0 0;
                        min-width: 350px;
                    }
                    @media (max-width: 992px) {
                        min-width: 450px;
                    }
                    @media (max-width: 600px) {
                        min-width: 250px;
                    }
                    @media (max-width: 400px) {
                        min-width: 150px;
                    }
                }
            }
        }
        .dateSearch {
            display: flex;
            margin-bottom: 13px;
            @media (max-width: 600px) {
                flex-direction: column;
            }
            .sillyMargin {
                width: 100%;
            }
            .searchButton {
                width: 35%;
                @media (max-width: 992px) {
                    width: 29%;
                }
                @media (max-width: 600px) {
                    width: 100%;
                    margin-top: 15px;
                }
                button {
                    width: 142px;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 900;
                    height: 100%;
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
        }
        .updateButton {
            display: flex;
            justify-content: flex-end;
            margin-top: 34px;
            @media (max-width: 400px) {
                justify-content: center;
            }
            button {
                width: 175px;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 900;
                padding: 0;
            }
        }
        .addedButton {
            display: flex;
            justify-content: flex-start;
            margin-top: 25px;
            @media (max-width: 400px) {
                justify-content: center;
            }
            button {
                width: 187px;
                padding: 0;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 900;
                height: 22px;
            }
        }
        .datapicker {
            position: relative;
            input {
                width: 100%;
                height: 40px;
                background-image: linear-gradient(to bottom, $gray-600, #5e5e5e);
                border: none;
                color: $gray-300;
                @media (max-width: 400px) {
                    padding-left: 11px;
                }
                &::-webkit-input-placeholder {
                    color: $gray-300;
                }
                &::-moz-placeholder {
                    color: $gray-300;
                }
                &:-ms-input-placeholder {
                    color: $gray-300;
                }
                &:-moz-placeholder {
                    color: $gray-300;
                }
            }

            :global(.rdtPicker) {
                color: $gray-800;
            }

            :global(.rdtCounter .rdtBtn::before) {
                background-color: transparent;
            }
            &:before {
                content: '';
                right: 2px;
                top: 2px;
                position: absolute;
                height: calc(100% - 4px);
                width: 36px;
                pointer-events: none;
                background-image: linear-gradient(-180deg, #696969 19%, $gray-800 83%);
                z-index: 1;
            }

            &:after {
                content: '';
                right: 13px;
                top: calc(50% - 4px);
                position: absolute;
                pointer-events: none;
                border: 7px solid transparent;
                border-top-width: 9px;
                border-bottom: 0;
                border-top-color: $blue;
                z-index: 2;
            }
        }
        .mapBlock {
            display: flex;
            @media (max-width: 1200px) {
                flex-direction: column;
            }
            .adressMap {
                height: 200px;
                width: calc(50% - 15px);
                margin-right: 30px;
                background: $gray-700;
                @media (max-width: 1200px) {
                    margin-right: 0;
                    margin-bottom: 20px;
                    width: 100%;
                }
                textarea {
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom, $gray-600, #5e5e5e);
                    border: none;
                    color: $gray-300;
                }
            }
            .map {
                height: 200px;
                width: 100%;
                @media (min-width: 1200px) {
                    width: calc(50% - 15px);
                }
            }
        }
    }
    .schedule {
        display: flex;
        margin-bottom: 17px;
        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
        }
        .scheduleAdd {
            width: 27%;
            margin-right: 20px;
            @media (max-width: 550px) {
                width: 80%;
                margin: 0 14px 18px;
            }
            textarea {
                height: 38px;
                width: 100%;
            }
        }
        .scheduleConAdd {
            width: 55%;
            margin-right: 31px;
            @media (max-width: 550px) {
                width: 100%;
                margin: 0 30px
            }
            textarea {
                min-height: 110px;
                width: 100%;
            }
        }
        .scheduleDel {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8%;
            color: $blue;
        }
    }
    .sponsors {
        display: flex;
        margin-bottom: 17px;
        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
        }
        .ImageBlock {
            width: 27%;
            margin-right: 14px;
            @media (max-width: 550px) {
                width: 80%;
                margin: 0 14px 18px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .sponsorsConAdd {
            width: 61%;
            margin-right: 10px;
            input {
                max-height:35px;
            }
            .nameInput {
                margin-bottom: 6px;
            }
            @media (max-width: 550px) {
                width: 100%;
                margin: 0 30px
            }
        }
        .scheduleDel {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8%;
            svg {
                path { fill: $blue; }
            }
        }
    }
    .messageBlock{
        margin-top: 42px;
        p {
            line-height: normal;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            color: $gray-600;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            font-family: Roboto;
        }
        .messageTitle {
            font-family: Blender;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: -8px;
            text-align: left;
            color: $gray-600;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        }
        .sillyMargin {
            textarea {
                min-height: 142px !important;
                margin: 10px 0 0 0;
            }
        }
    }
    .updateButtonMaterial {
        display: flex;
        justify-content: flex-end;
        margin-top: 34px;
        @media (max-width: 400px) {
            justify-content: center;
        }
        button {
            min-width: 245px;
            padding: 0;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 900;
            height: 22px;
            @media (max-width: 400px) {
                min-width: 192px;
            }
        }
    }

    .UploadBlock{
        width: 140px;
        border: none;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        color: $gray-700;

        input[type="file"]{
            opacity: 0;
            cursor: pointer;
            font-size: 80px;
            position: absolute;
            z-index: 100;
            padding: 0;
            margin: 0;
            position: absolute;
            border: none;
            width: 100%;
            height: 100%;
        }
        input[type="file"]+label{
            min-height: 148px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
        }
    }
}

