@import "../../../styles/global.scss";


.carImg {
    a {
        height: 422px;

        @media(max-width: 450px) {
            height: 200px;
        }
    }
}

.videoImg {
    & > div {
        width: 100%;
    }

    a {
        min-height: 380px;
    }
}
.mediaContainer {
    margin-top: 39px;
}
.contentBlock {
    ul {
        margin: 36px 0 10px;
    }
}
@media(max-width: 450px) {
    .mediaContainer,
    .mediaContainer :global(.container) {
        padding: 0;
    }
}
