@import '../../styles/global.scss';

.TabLink {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    width: 224px;
    a {
        opacity: 0.5;
        :hover {
            border-color: transparent!important
        }
    }
    svg {
        path { fill: #949494; }
    }
    :global(.nav-link){
        border-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(to bottom, #363636, #000000);
        border-image-slice: 1;
        margin-bottom: 0px;
        position: relative;
        &:after{
            position: absolute;
            content: "";
            width: calc(100% + 4px);
            height: 1px;
            border-bottom: solid 1px #343434;
            left: -2px;
            bottom: -2px;
        }
    }
    .Active {
        opacity: 1;
        background-color: $black!important;
        &:after{
            display: none;
        }
        svg {
            path { fill: $blue; }
        }
        .title {
            color: $blue;
        }
    }
    .title {
        color: #949494;
        margin-top: 5px;
        font-size: 16px;
        font-family: Blender;
        line-height: 1.25;
        letter-spacing: 0.9px;
        white-space: nowrap;
        @media (max-width:600px){
            font-size: 14px;
        }
    }
    .Icon {
        display: block;
        height: 17px;
    }
    @media (max-width:600px){
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;
        min-width: calc(50% - 15px);
        width: auto;
    }
}
.smallTab {
    margin-right: 10px;
    margin-left: 10px;
}
