@import "../../../styles/global.scss";

.topPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 500px) {
        display: block;
        > * + *{
            margin-top: 20px;
        }
    }
    :global(.title){
        margin-bottom: 0;
    }
}