@import "../../../styles/global.scss";

.ImgSection {
    display: flex;
    margin-top: 126px;
    @media (max-width: 992px) {
        flex-direction: column;
        margin-top: 50px;
    }
    .imgBlock {
        padding-top: 8px;
        width: 16%;
        @media (max-width: 992px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .imgAvatar {
            position: relative;
            width: 79px;
            height: 82px;
            @media(max-width: 992px) and (min-width: 768px) {
                width: 100px;
                height: 87px;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
            }
        }
        .imgData {
            @media (max-width: 992px) {
                margin-left: 20px;
                flex: 1;
            }
            .imgName {
                margin: 16px 0 3px;
                font-family: 'BlenderThin';
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: 1px;
                color: $gray-600;
                @media (max-width: 992px) {
                    margin-top: 0;
                }
            }
            .imgRating {
                display: flex;
                padding-top: 3px;
                span {
                    font-size: 10px;
                    font-weight: bold;
                    padding-left: 3px;
                    letter-spacing: 1px;
                    color: $blue;
                }
                .raitingEdit {
                    padding-right: 9px;
                    padding-left: 3px;
                }
            }
        }
        .imgTown {
            margin-bottom: 17px;
            font-family: 'BlenderThin';
            font-size: 12px;
            color: $gray-600;
            line-height: 1.5;
            letter-spacing: 1px;
        }
    }

    .imgInfo {
        padding-left: 63px;
        width: 84%;
        @media (max-width: 992px) {
            padding-left: 0;
            margin-top: 15px;
            width: 100%;
        }
        .infoSpan {
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $gray-600;
        }
        .infoCont {
            padding-left: 1px;
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            h3 {
                font-size: 9px;
                letter-spacing: 1.3px;
                text-transform: uppercase;
            }
            span {
                font-size: 14px;
                @media (max-width: 350px) {
                    font-size: 12px;
                }
            }
            .infoPrice {
                color: $blue;
                margin-bottom: 32px;
            }
            .infoPhone {
                @media (min-width: 992px) {
                    width: 38%;
                }
            }
            .infoEmail {
                @media (min-width: 992px) {
                    width: 63%;
                }
            }
        }
    }
}
