@import "../../styles/global.scss";
.AboutBlock {
    display: flex;
    justify-content: space-between;
    @media (max-width: 770px) {
        flex-direction: column;

        > div {
            flex: 1 0 auto;
        }
    }
    .contentBlock {
        height: 100%;
        padding: 25px 19px 40px 16px;
        background-image: linear-gradient(to bottom, #363636, #171717);
        p {
            padding-bottom: 19px;
            font-size: 12px;
            font-weight: bold;
            text-align: left;
        }
    }
    .imagesBlock {
        height: 100%;
        margin-left: 20px;
        padding: 32px 20px 40px;
        background-image: linear-gradient(to bottom, #363636, #171717);
        @media (max-width: 991px) {
            margin-top: 40px;
            margin-left: 0px;
        }
        @media (max-width: 575px){
            margin-top: 0px;
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 32px;
            font-family: Blender;
            margin-bottom: 20px;
            letter-spacing: 2.8px;
            margin-bottom: 36px;
            @media (max-width: 400px) {
                font-size: 21px;
                padding-left: 27px;
            }
        }
        .subTitle {
            font-size: 21px;
            line-height: 15px;
            padding-left: 2px;
            font-weight: bold;
            font-family: Blender;
            letter-spacing: 1.6px;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            margin-bottom: 15px;
        }
        .sponsorLogo {
            display: block;
            margin: 0 auto;
            cursor: pointer;
            &:nth-child(odd) {
                max-width: 296px;
                margin-bottom: 46px
            }
            &:nth-child(even) {
                max-width: 258px;
                margin-bottom: 30px
            }
            img {
                height: auto;
                width: 100%;
            }
        }
        .note {
            p {
                font-size: 18px;
                padding-left: 2px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 5px;
                a {
                    color: #d7d7d7;
                    text-decoration: underline;
                }
            }
        }
    }
}
