/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

:global(.rdt) {
  position: relative;
}

:global(.rdtPicker) {
  display: none;
  position: absolute;
  width: 250px;
  margin-top: 5px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}

:global(.rdtOpen .rdtPicker) {
  display: block;
}

:global(.rdtStatic .rdtPicker) {
  box-shadow: none;
  position: static;
}

:global(.rdtPicker .rdtTimeToggle) {
  text-align: center;
}

:global(.rdtPicker table) {
  width: 100%;
  margin: 0;
}

:global(.rdtPicker td),
:global(.rdtPicker th) {
  text-align: center;
  height: 28px;
}

:global(.rdtPicker td) {
  cursor: pointer;
}

:global(.rdtPickerRange .rdtPicker td.rdtDay) {
  background: #daecfc;
}

:global(.rdtPicker td.rdtDay:hover),
:global(.rdtPicker td.rdtHour:hover),
:global(.rdtPicker td.rdtMinute:hover),
:global(.rdtPicker td.rdtSecond:hover),
:global(.rdtPicker .rdtTimeToggle:hover) {
  background: #eee;
  cursor: pointer;
}

:global(.rdtPicker td.rdtOld),
:global(.rdtPicker td.rdtNew) {
  color: #999;
}

:global(.rdtPicker td.rdtToday) {
  position: relative;
}

:global(.rdtPicker td.rdtToday::before) {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

:global(.rdtPickerRange .rdtPicker td.rdtActive:hover),
:global(.rdtPickerRange .rdtPicker td.rdtActive),
:global(.rdtPicker td.rdtActive),
:global(.rdtPicker td.rdtActive:hover) {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

:global(.rdtPicker td.rdtActive.rdtToday::before) {
  border-bottom-color: #fff;
}

:global(.rdtPickerRange .rdtPicker td.rdtDisabled),
:global(.rdtPicker td.rdtDisabled),
:global(.rdtPicker td.rdtDisabled:hover) {
  background: none;
  color: #e2e2e2;
  cursor: not-allowed;
}

:global(.rdtPicker td span.rdtOld) {
  color: #999;
}

:global(.rdtPicker td span.rdtDisabled),
:global(.rdtPicker td span.rdtDisabled:hover) {
  background: none;
  color: #e2e2e2;
  cursor: not-allowed;
}

:global(.rdtPicker th) {
  border-bottom: 1px solid #f9f9f9;
}

:global(.rdtPicker .dow) {
  width: 14.2857%;
  border-bottom: none;
}

:global(.rdtPicker th.rdtSwitch) {
  width: 100px;
}

:global(.rdtPicker th.rdtNext),
:global(.rdtPicker th.rdtPrev) {
  font-size: 21px;
  vertical-align: top;
}

:global(.rdtPrev span),
:global(.rdtNext span) {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

:global(.rdtPicker th.rdtDisabled),
:global(.rdtPicker th.rdtDisabled:hover) {
  background: none;
  color: #999;
  cursor: not-allowed;
}

:global(.rdtPicker thead tr:first-child th) {
  cursor: pointer;
}

:global(.rdtPicker thead tr:first-child th:hover) {
  background: #eee;
}

:global(.rdtPicker tfoot) {
  border-top: 1px solid #f9f9f9;
}

:global(.rdtPicker button) {
  border: none;
  background: none;
  cursor: pointer;
}

:global(.rdtPicker button:hover) {
  background-color: #eee;
}

:global(.rdtPicker thead button) {
  width: 100%;
  height: 100%;
}

:global(td.rdtMonth,
td.rdtYear) {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

:global(td.rdtMonth:hover,
td.rdtYear:hover) {
  background: #eee;
}

:global(.rdtCounters) {
  display: inline-block;
}

:global(.rdtCounters > div) {
  float: left;
}

:global(.rdtCounter) {
  height: 100px;
}

:global(.rdtCounter) {
  width: 40px;
}

:global(.rdtCounterSeparator) {
  line-height: 100px;
}

:global(.rdtCounter .rdtBtn) {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

:global(.rdtCounter .rdtBtn:hover) {
  background: #eee;
}

:global(.rdtCounter .rdtCount) {
  height: 20%;
  font-size: 1.2em;
}

:global(.rdtMilli) {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

:global(.rdtMilli input) {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

:global(.rdtPicker) {
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  box-shadow: none;
}

:global(.rdtPicker table) {
  border-collapse: collapse;
}

:global(.rdtPicker th) {
  border-bottom: none;
}

:global(.rdtPicker::before) {
  content: '';
  z-index: -1;
  left: 20px;
  top: -1px;
  margin-top: -8px;
  box-sizing: content-box;
  position: absolute;
  height: 0;
  width: 1px;
  border: 8px solid transparent;
  border-width: 8px;
  border-top: none;
  border-bottom-color: #aeaeae;
}

:global(.rdtPicker::after) {
  content: '';
  z-index: -1;
  left: 20px;
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
  top: 0;
  margin-top: -8px;
  border-top: none;
  border-bottom-color: #fff;
}

:global(.rdtPicker .dow) {
  color: #000;
  text-align: center;
  font-weight: 300;
}

:global(.rdtPicker .rdtSwitch) {
  font-weight: bold;
  font-size: 0.944rem;
}

:global(.rdtPicker thead th) {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

:global(.rdtPrev span),
:global(.rdtNext span) {
  color: #ccc;
}

:global(.rdtPrev span:hover),
:global(.rdtNext span:hover) {
  color: #b3b2b2;
}

:global(.rdtPicker .rdtMonth:hover),
:global(.rdtPicker .rdtYear:hover) {
  background: #eee;
}

:global(.rdtPickerRange .rdtPicker td.rdtToday),
:global(.rdtPicker td.rdtToday) {
  border-radius: 0.3rem;
  background-color: #eee;
  color: #454545;
  font-weight: bold;
}

:global(.rdtPicker td.rdtToday.rdtActive) {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

:global(.rdtPicker td.rdtToday::before) {
  display: none;
}

:global(.rdtPicker td.rdtActive) {
  border-radius: 0.3rem;
}

:global(.rdtPicker .rdtDays tbody tr:first-child td) {
  height: 31px;
  padding-top: 4px;
}

:global(.rdtPicker thead) {
  padding-top: 8px;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

:global(.rdtTime) {
  width: 70%;
  margin: 0 auto;
}

:global(.rdtTime thead) {
  background-color: #fff;
}

:global(.rdtTime thead tr th) {
  height: 40px;
}

:global(.rdtPicker .rdtTime thead tr:first-child th:hover) {
  background-color: #fff;
}

:global(.rdtTime thead tr th::before) {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  transform: translateX(-50%);
  left: 50%;
  height: 23px;
  width: 100%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
}

:global(.rdtCounter .rdtBtn) {
  position: relative;
}

:global(.rdtCounter .rdtBtn::before) {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #fff;
  background-size: 8px;
  background-position: 80% center;
  background-repeat: no-repeat;
  pointer-events: none;
}

:global(.rdtCounter .rdtBtn:first-child::before) {
  transform: rotate(90deg);
}

:global(.rdtCounter .rdtBtn:last-child::before) {
  transform: rotate(-90deg);
}
