@import '../../node_modules/bootstrap/scss/mixins/gradients';

$blue: #37b6df;
$dark-blue: #1D95BC;

/**
 * Bootrap override
 */
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #979797;
$gray-700: #4d4d4d;
$gray-800: #363636;
$gray-850: #232323;
$gray-900: #171717;
$gray-950: #111;
$black:    #000;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$input-btn-padding-y:         0;
$input-btn-padding-x:         2.0rem;

/* sizes */

$mockup-width: 1366px;