@import "global";

@font-face {
    font-family: "Blender";
    src: url(./fonts/Blender-Medium.otf) format("opentype");
}

@font-face {
    font-family: "BlenderBold";
    src: url(./fonts/Blender-Bold.otf) format("opentype");
}

@font-face {
    font-family: "BlenderThin";
    src: url(./fonts/Blender-Thin.otf) format("opentype");
}

@font-face {
    font-family: "Effra";
    src: url(./fonts/Effra-Regular.ttf) format("truetype");
}

body {
	font-family: 'Roboto', sans-serif;
    background: black;
    color: lightGray;
}

.title {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $gray-600;
    text-transform: uppercase;
    &--small{
        font-size: 14px;
    }
}

button{
    cursor: pointer;
    outline: none!important;
}

.tab-content{
    padding: 40px 0;
    .TabList__TabList:last-child .tab-content{
        padding: 40px 0 15px;
    }
}

.upload{
    width: 140px;
    border: none;
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;

    input[type="file"]{
        opacity: 0;
        font-size: 199px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        position: absolute;
        border: none;
        width: 100%;
        height: 100%;
    }
    input[type="file"]+label{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background: transparent;
        color: $blue;

        &:active,
        &:hover,
        &:focus {
            color: $dark-blue;
            background: transparent;
            box-shadow: none !important;
        }
    }
}

:global(.rating-list) {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0.9em;
    white-space: nowrap;
    text-align: left;

    :global(.star) {
        display: inline-block;
        margin-right: 4px;
        path { fill: $gray-600; }
    }
}

:global(.gradient-table) {
    font-family: Blender;
    background-image: linear-gradient(to left, $gray-800, $black);
    tr {
        padding: 10px;

        &:nth-child(even) {
            background: $gray-850;
        }
    }
}

:global(.inverted-gradient) {
    tr {
        &:nth-child(odd) {
            background: $gray-850;
        }
        &:nth-child(even) {
            background: none;
        }
    }
}

