@import "../../styles/global.scss";

.ImageWidget {
    float: right;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px 8px;
    .label {
        font-size: 14px;
        color: $blue;
        cursor: pointer;
        margin-top: 8px;
    }
    margin-bottom: 6px;
    @media (min-width: 1000px) {
        width: 273px;
    }
    @media (max-width: 1100px) {
        float: none;
    }
    @media (max-width: 991px) {
        .img {
            height: 300px;
        }
    }
    @media (max-width: 700px) {
        .img {
            height: 195px;
        }
    }
}
.img {
    width: 100%;
    height: 195px;
    display: block;
    max-width: 100%;
}
.ImageWidgetModal {
    img {
        width: 100%;
        height: auto;
    }
}
