@import "../../styles/global.scss";

.videoWidget {
    @media (min-width: 1000px) {
        margin: 0 auto;
        width: 273px;
    }
    .videoInfo {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: $gray-600;

        .views {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1.5px;
        }
        .time {
            margin-left: 10px;
            color: $blue;
        }
    }
    a {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.WidgetModal {
    img {
        width: 100%;
        height: auto;
    }
}
