@import "../../styles/global";

.Widget {
    @include gradient-y($gray-800, $gray-900);
    padding: 10px;

    text-align: left;

    &_center {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
    &_justify {
        text-align: justify;
    }
}
