@import "../../styles/global";

.Login{
    display: flex;
    margin-top: 149px;
    padding-bottom: 145px;
    letter-spacing: 1.03px;
    background: url(/images/racer.png) no-repeat;
    background-position: 106% top;
    background-size: 60%;

    @media (max-width: 1000px) {
        background: none;
        margin-top: 50px;
        padding-bottom: 100px;
    }
    @media (max-width: 400px) {
        margin-top: 10px;
        padding-bottom: 50px;
    }
    a {
        text-decoration: none;
    }
    input {
        background-image: linear-gradient(-180deg, #5E5E5E 0%, #969696 100%);
        border: none;
        height: 39px;
        padding-left: 10px;
        font-family: 'Roboto';
        box-shadow: inset 0 0 6px 5px rgba(0,0,0,0.14);
        color: #d2d2d2;

        &:focus {
            color: #d2d2d2;
        }
    }

    .form {
        width: 60%;
        padding-left: 25px;
        @media (max-width: 1000px) {
            width: 100%;
        }
        @media (max-width: 800px) {
            padding: 0;
        }
        .contentForm {
            width: 439px;
            background-image: linear-gradient(-180deg, #363636 0%, #171717 100%);
            padding: 34px 47px 21px 40px;

            @media (max-width: 1000px) {
                width: 70%;
                margin: 0 auto;
            }
            @media (max-width: 770px) {
                width: 100%;
            }

            @media (max-width: 400px) {
                padding: 24px 37px 11px 30px;
            }

            .section {
                padding-bottom: 30px;
            }
            .join{
                font-size: 15px;
                margin-bottom: 40px;
            }
            :global(.btn) {
                display: block;
                margin: 20px 0 0 auto;
                width: 126px;
                height: 38px;
                font-weight: 600;
                cursor: pointer;
                font-size: 14px;
            }
            .heading {
                font-size: 35px;
                font-family: 'BlenderBold';
                color: $blue;
                @media (max-width: 400px) {
                    font-size: 30px;
                }
            }
            .info {
                display: block;
                padding: 10px 0 0;
                margin-bottom: 0;
                font-size: 12px;
                font-family: 'BlenderBold';
                color: $gray-600;

                label {
                    margin-bottom: 5px;
                    font-size: 11px;
                }
            }
            .pass {
                font-size: 11px;
                margin: 20px 0 0 0;
                display: inline-block;
                font-weight: 500;
            }
            .smart {
                display: inline-block;
                margin: 18px 0 0 0;
                font-size: 11px;
                color: $gray-600;
                font-weight: 500;
            }
            .sign {
                display: inline-block;
                margin-left: 5px;
                font-size: 11px;
                cursor: pointer;
            }
            .termsCheckbox {
                display: none;
                & + label:before {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 11px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: $gray-800;
                    border: 2px solid #585858;
                }

                &:checked + label:after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 4px;
                    top: 15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $gray-500;
                }

            }
            .terms{
                margin: 35px 0 30px;
                label {
                    position: relative;
                    padding-left: 30px;
                    display: inline-block;
                    cursor: pointer;
                    font-size: 13px;
                    line-height: 1.5;
                    color: $gray-500;
                }
            }
        }
    }
}
