@import "../../styles/global";

.SocialForm{
    margin: 72px 0 0;
    letter-spacing: 1.03px;
    background-image: linear-gradient(-180deg, #363636 0%, #171717 100%);
    width: 439px;
    padding: 40px 47px 40px 40px;

    @media (max-width: 1000px) {
        width: 70%;
        margin: 40px auto 0;
    }
    @media (max-width: 770px) {
        width: 100%;
    }

    @media (max-width: 400px) {
        padding: 30px 37px 30px 30px;
    }

    .heading{
        color: $blue;
        font-family: BlenderBold;
        font-size: 36px;
        letter-spacing: 0.6px;

        @media (max-width: 400px) {
            font-size: 30px;
        }
    }
    .account {
        font-size: 14px;
        color: $gray-400;    
        margin-bottom: 40px;

        @media (max-width: 400px) {
            font-size: 12px;
        }
    }
    .button {
        font-weight: 600;
        font-size: 14px;
        color: #3F4140;
        letter-spacing: 0;
        display: block;
        width: 100%;
        margin: 20px 0 0 0;
        height: 41px;
        background-image: linear-gradient(-180deg, $blue 0%, $dark-blue 100%);
        border: none;
        cursor: pointer;
    }
}
