.LargeSection {
    max-width: none!important;
}
.ContentMargin {
    margin-bottom: 38px;
}
.ContentPadding {
    padding-top: 30px;
}
.blockMargin {
    margin-bottom: 33px;
}
.blockPadding {
    padding-top: 40px;
}
.carModel{
    padding-bottom: 40px;
}
.titleBlock {
    margin-top: 135px;
    h1 {
        letter-spacing: 1px;
        @media (max-width: 600px) {
            font-size: 44px;
        }
        @media (max-width: 400px) {
            font-size: 32px;
        }
    }
    @media (max-width: 991px) {
        margin-top: 97px;
    }
    @media (max-width: 770px){
        margin-top: 40px;
    }
}
.titleBlockEvent {
    margin-top: 135px;
    h1 {
        letter-spacing: 0.7px;
        padding-left: 19px;
        @media (max-width: 600px) {
            font-size: 44px;
            padding-left: 0;
        }
        @media (max-width: 400px) {
            font-size: 32px;
        }
    }
    @media (max-width: 991px) {
        margin-top: 97px;
    }
    @media (max-width: 770px){
        margin-top: 40px;
    }
}
