@import "../../styles/global.scss";

.Navigation {
    flex-wrap: wrap;
    padding: 0;

    .MainNavWrap{
        width: 100%;
        @include gradient-x-three-colors($gray-950, $gray-850, 50%, $gray-950);
        box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.4);
    }

    :global(.nav-item) {
        cursor: pointer;
    }

    .MainNav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 14px 20px;

        @media (max-width: 991px) {
            padding: 0 20px 5px;
        }

        :global(.nav-link){
            letter-spacing: 1px;
        }
        :global(.nav-item):not(:first-child){
            margin-left: 10px;

            @media (max-width: 1200px) {
                margin-left: 5px;
            }

            @media (max-width: 991px) {
                margin-left: 0;
            }
        }
    }

    .SubNav, .MainNav {
        max-width: $mockup-width;
        flex-basis: 100%;
        width: 100%;
        font-family: 'Blender';
        text-transform: uppercase;
    }

    .SubNav{
        padding: 0 20px;

        :global(.nav-item):not(:first-child){
            margin-left: 40px;
        }
        :global(.nav-link){
            color: $blue;
            text-transform: none;
            font-size: 14px;
        }
        @media (max-width: 991px) {
            :global(.navbar-nav){
                margin: 10px 0;
            }
            :global(.nav-item):not(:first-child){
                margin-left: 0;
                margin-top: 5px;
            }
            :global(.nav-link){
                padding: 0;
            }
        }
    }

    .MainNav ul :global(.nav-link) {
        svg {
            margin: -2px 10px 0;

            @media (max-width: 992px) {
                width: 20px;
                margin-left: 0;
            }
        }

        > * {
            vertical-align: middle;
            display: inline-block;
        }

        @media (max-width: 1350px) {
            font-size: 14px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navBarBrand {
        text-align: center;
        padding: 0;
        svg {
            display: block;
            margin: 0 auto;

            &:first-child{
                margin-bottom: 22px;
                width: 232px;
                @media (max-width: 991px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 400px) {
                    width: 185px;
                }
            }

            @media (max-width: 1100px) {
                margin: 12px auto;
            }
            @media (max-width: 400px) {
                width: 185px;
            }

        }

        @media (max-width: 1100px) {
            .textIcon {
                width: 185px;
            }

            .logoIcon {
                height: 25px;
            }
        }
    }

    .authenticatedNavbar {
        :global(.nav-item:not(:first-child)) {
            @media(min-width: 992px) {
                margin-left: 20px;
            }
        }
    }

    .alertIndicatorContainer {
        position: relative;
        display: inline-block;
        margin-top: 5px;

        svg {
            vertical-align: middle;
        }
        .alertsCounter {
            position: absolute;
            right: -3px;
            top: -2px;
            padding: 0 2px;
            min-width: 13px;
            text-align: center;
            font-size: 10px;
            line-height: 1;
            background-color: #F5494B;
            color: #fff;
            border-radius: 2px;
        }
    }

    :global(.show) .userNameContainer:after {
        border-top: none;
        border-bottom: 5px solid;
    }

    .userNameContainer.userNameContainer {
        padding: 0;
        text-transform: none;
        background: none;
        border: none;

        &:active,
        &.active,
        &:hover {
            background: none;
            border: none;
            color: inherit;
        }

        &:after {
            margin-left: 13px;
            vertical-align: middle;
            border-width: 5px;
        }

        > * {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 0.2px;
        }
        .userAvatar {
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 10px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .profileDropdownMenu {
        width: 200%;
        @include gradient-y($gray-800, $gray-900);

        @media (max-width: 991px) {
            width: 100%;
        }
        > div {
            width: 50%;
            display: inline-block;
            vertical-align: top;

            @media (max-width: 400px) {
                width: 100%;
                display: block;
            }
        }

        :global(.dropdown-item) {
            padding: 4px 25px;
            font-size: 13px;
            color: $gray-600;

            a,
            a:link {
                text-decoration: none;
                color: inherit;
            }

            &:active,
            &.active,
            &:hover,
            &:focus {
                color: $blue;
                background-color: transparent;
            }
        }
    }
}
