@import "../../styles/global.scss";
.pagin{
    margin-bottom: 20px;
    .button{
    	display: block;
    	margin: 0 auto;
        width: 140px;
        border: none;
        &:focus{
            outline: none;
        }
    }
}
