@import "../../styles/global";

.cardInfo {
    font-family: 'BlenderBold';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;

    > div:last-child {
        text-align: right;
    }
}

.viewAllLink {
    border: none;
    background: $gray-800;
    height: 100%;

    .Body {
        @include gradient-y($gray-800, $gray-900);
        height: 100%;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .viewAllLabel {
            text-align: center;
            font-family: 'Blender';
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            color: #37b6df;
            margin-bottom: 0;
            max-width: 180px;
        }

        .Button {
            padding: 6px 25px;
            width: 140px;
            font-family: 'BlenderBold';
            font-size: 16px;
            border: 2px solid #06a5cf;
            margin-top: 15px;

            &:hover {
                border: 2px solid $blue;
            }
        }
    }
}

.subRating {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    text-align: left;
    color: #d7d7d7;
}

.cardInformation {
    font-family: 'BlenderBold';
    text-transform: uppercase;
    height: 48px;
    padding-top: 14px;
    margin-bottom: -1.25rem;
    border-top: solid 1px #000000;

    @media (max-width: 1200px) {
        margin-bottom: 0;
        height: auto;
        text-align: center;
    }
    > * {
        margin-bottom: 0!important;
    }
    .button {
        padding: 0;
        background: transparent !important;
        border: none;
        display: flex;
        align-items: center;
        margin-top: 2px;

        @media (max-width: 1200px) {
            margin-bottom: 10px;
            justify-content: center;
            width: 100%;
        }

        &:focus, &:active, &:hover {
            box-shadow:none!important;
            .icon, .add {
                color: $dark-blue;
            }
        }
        .icon {
            width: 20px;
            font-family: -webkit-pictograph;
            color: #37b6df;
            font-size: 28px;
            line-height: 0.5;
            font-weight: bolder;
            margin-right: 8px;
        }
        p.add.add {
            height: auto;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 1px;
            color: $blue;
            line-height: 1.2;
            margin: 0;
        }
    }

    > div:last-child {
        text-align: right;
        @media (max-width: 1200px) {
            text-align: center;
        }
    }
}

.summary {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    height: 81px;
}

p.region.region {
    height: auto;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-transform: uppercase;
}
