@import "../../styles/global";

.Card {
    border: none;
    background: $gray-800;

    .cardHeader {
        @include gradient-y($gray-800, $gray-900);
        height: 66px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info {
        @include gradient-y($gray-800, $gray-900);
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: $gray-600;
        p {
            height: 74px;
        }
    }
    .content{
        @include gradient-y($gray-800, $gray-900);
        height: 172px;
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: $gray-600;
    }

    .SubTitle,
    .Title {
        height: 30px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .SubTitle{
        color: $gray-600;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        line-height: 2;
    }

    .Title {
        color: $blue;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        line-height: 2;
        margin: 0;
    }
}
