@import "../../styles/global";

$pad: 8px;

.CardImage {
    @media (min-width: 767px) and (max-width: 1199px){
        > :global(.row){
            flex-direction: column-reverse;
        }
        div[class^="col-"]{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            *{
                text-align: center;
            }
            .rating {
                margin-top: 10px;
                :global(.rating-list .star) {
                    vertical-align: bottom;
                }
            }
        }
    }
    .ImageWrapper {
        @include gradient-y($gray-600, $gray-700);
        padding: $pad;
        height: 215px;

        .image {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
        }
        img {
            width: auto;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .rating {
        margin-top: 7px;
    }

    .ButtonWrapper {
        background: $gray-700;
        padding: 0 $pad $pad $pad;
    }

    .Button {
        width: 100%;
        padding-top:0;
        padding-bottom: 0;
        display: block;
    }
}
