@import "../../styles/global";

$pad: 8px;

.Card {
    display: flex;
    border: none;
    margin-bottom: 41px;
    flex-direction: row;
    @include gradient-y($gray-800, $gray-900);
    @media (max-width: 550px) {
        margin-bottom: 0;
        flex-direction: column;
    }
    .ImageWrapper {
        @include gradient-y($gray-600, $gray-700);
        padding: $pad;
        min-height: 213px;
        flex: 1;

        .image {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            overflow: hidden;
        }
        @media (max-width: 550px) {
            height: 213px;
        }
        img {
            width: auto;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .info {
        position: relative;
        padding: 20px 20px 0 42px;
        flex: 2.4;
        @include gradient-y($gray-800, $gray-900);
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: $gray-600;
        @media (max-width: 768px) {
            padding-left: 20px;
        }
    }
    .title {
        color: $blue;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        line-height: 2.7;
        margin: 0;
    }
    .rating {
        margin-bottom: 19px;
    }
    .price {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
        text-align: left;
        color: #d7d7d7;
        margin-bottom: 19px;
    }
    .summary {
        margin-top: 5px;
        min-height: 61px;
        letter-spacing: 0.5px;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 14px;
        line-height: 1.7;
    }
    .date, .views {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .ButtonWrapper {
        margin-top: 5px;
        height: 25px;
        .Button {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 19px;
            min-width: 79px;
            padding: 0;
            display: block;

            a {
                padding: 0 20px;
                line-height: 100%;
            }
        }
    }
    .button {
        padding: 0;
        background: transparent !important;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 35px;

        @media (max-width: 770px) {
            width: 100%;
            margin: 10px 0 10px 16px;
        }

        &:focus, &:active, &:hover {
            box-shadow:none!important;
            .icon, .add {
                color: $dark-blue;
            }
        }
        .icon {
            width: 20px;
            font-family: -webkit-pictograph;
            color: #37b6df;
            font-size: 28px;
            line-height: 0.5;
            font-weight: bolder;
            margin-right: 8px;
        }
        p.add.add {
            color: $blue;
            height: auto;
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 1.2;
            margin: 0;
        }
    }
    .addButton, .date {
        margin-right: 36px;
        margin-left: 0;
    }
    .cardInfo {
        text-transform: uppercase;
        display: flex;
        font-weight: bold;
        flex-wrap: wrap;
        @media (max-width: 500px) {
            margin-bottom: 15px;
        }
    }
    .infoDriver .cardInfo {
        .views {
            padding: 0;
        }
        .date, .button {
            margin-left: 0;
            margin-right: 37px;
        }
    }
}
