@import "../../../styles/global.scss";
.AboutBlock {
    display: flex;
    margin-top: -11px;
    @media (max-width: 770px) {
        flex-direction: column;
    }
    .tableContainer {
        width: 49%;
        padding-top: 22px;
        padding-left: 10px;
        @media (max-width: 770px) {
            width: 100%;
            margin-bottom: 42px;
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 11px;
            font-family: Blender;
            letter-spacing: 1px;
            padding: 21px 0 0 0;
            margin-bottom: 12px;
            @media (max-width: 400px) {
                font-size: 14px;
                padding-left: 27px;
            }
        }
        .details {
            tr {
                td {
                    padding: 9px 10px;
                    font-size: 14px;
                    line-height: 1.8;
                    @media (max-width: 400px) {
                        font-size: 12px;
                    }

                }
                td:first-child {
                    color: $blue;
                    padding-left: 22px;
                    word-spacing: -0.5px;
                    vertical-align: top;
                }
                td:last-child {
                    width: 55%;
                    margin: 0;
                    color: $gray-600;
                    @media (max-width: 400px) {
                        width: auto;
                    }
                }
            }
        }
    }
    .infoBlock {
        width: 51%;
        padding-top: 41px;
        padding-left: 44px;
        @media (max-width: 770px) {
            width: 100%;
            padding-right: 10px;
            padding-left: 0;
        }
        @media (max-width: 400px) {
            padding-right: 0;
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 19px;
            font-family: Blender;
            padding: 21px 0 0 0;
            letter-spacing: 2.5px;
            margin-bottom: 12px;
            @media (max-width: 400px) {
                font-size: 14px;
                padding-left: 27px;
            }
        }
        .contentBlock {
            color: $gray-600;
            font-size: 16px;
            font-family: Blender;
            padding-top: 13px;
            line-height: 35px;
        }
    }
}
