@import "../../../styles/global.scss";

.AboutBlock {
    display: flex;
    margin-top: -7px;
    .contentBlock {
        .info{
            padding-bottom: 30px;
        }
        h2 {
            font-size: 19px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $gray-600;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 2.43;
            margin-bottom: 0;
            color: $gray-600;
        }

        p + h2 {
            margin-top: 30px;
        }
        .note {
            color: $gray-600;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 45px;
        }
        a{
            color: $gray-600;
        }
    }
    .imagesBlock {
        padding-left: 25px;
        .titleBlock {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .titleSpan {
            font-size: 14px;
            letter-spacing: 0.7px;
            color: $gray-600;
            padding-top: 3px;
        }
        @media (max-width: 991px) {
            padding-left: 15px;
        }
    }
    .imagesItem + .imagesItem{
        margin-top: 30px;
    }
    .imagesItem{
        :global(.container){
            padding: 0;
        }
    }
}

.carImg {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        height: auto;
    }
}
