@import "../../styles/global";

.SearchCars {
    padding: 56px 0 75px 0;
    display: flex;
    @media (max-width: 1200px) {
        padding: 63px 5px 75px 5px;
    }
    @media (max-width: 1100px) {
        flex-direction: column;
        padding: 50px 5px 30px 5px;
    }
    .filter {
        width: 25%;
        padding-right: 25px;
        padding-top: 8px;
        @media (max-width: 1050px) {
            width: 40%;
        }
        @media (max-width: 1100px) {
            width: 100%;
            margin-bottom: 43px;
            padding: 0;
        }

    }
    .list {
        padding: 0 2px 0 20px;
        width: 75%;
        @media (max-width: 1100px) {
            width: 100%;
            padding: 0;
        }
        :global(.container){
            padding: 0;
        }
        :global(.pagination){
            margin-top: -11px;
        }
        .titleBlock {
            display: flex;
            font-family: Blender;
            justify-content: space-between;
            @media (max-width: 450px) {
                flex-direction: column;
                margin-bottom: 25px;
            }
            .title {
                padding-top: 8px;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 1px;
                color: $gray-700;
                margin-bottom: 4px;
            }
            .subTitle {
                font-size: 16.8px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: $gray-700;
                line-height: 2.5;
                margin-bottom: 5px;
                text-transform: uppercase;
                @media (max-width: 800px) {
                    font-size: 12.8px;
                }
            }
            .soft {
                line-height: normal;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: $gray-700;
            }
            .dropDownBy {
                min-width: 270px;
                margin-bottom: 0;
                @media (max-width: 800px) {
                    min-width: 121px;
                }
            }
        }
    }
}
