@import "../../styles/global";

.WriteReview{
    display: flex;
    //padding: 51px 0 0 58px;
    @media (max-width: 900px) {
        padding: 40px 0;
        flex-direction: column-reverse;
    }
    .detail{
        width: 50%;
        padding-right: 20px;
        @media (max-width: 900px) {
            width: 100%;
            padding-right: 0;
        }
        .blockInput{
            height: 40px !important;
            width: 100% !important;
            color: $gray-300;
            padding: 10px 10px 10px 20px;
            font-size: 11px;
            border: none;
            box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                padding-right: 36px;
            }

            &::-webkit-input-placeholder {
                color: $gray-300;
            }
            &::-moz-placeholder {
                color: $gray-300;
            }
            &:-ms-input-placeholder {
                color: $gray-300;
            }
            &:-moz-placeholder {
                color: $gray-300;
            }
        }
        .subTitle {
            font-family: Blender;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.5px;
            padding-left: 22px;
            color: $gray-500;
            line-height: 3;
        }
        .title {
            font-family: Blender;
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $gray-600;
        }
        .titleBlock {
            display: flex;
        }
        .dropdown {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .dropdownMargin {
                justify-content: center;
                padding: 0;
                margin: 0;
                @media (max-width: 1350px) {
                    width: 100%;
                }
                > *:not(.forms) {
                    margin: 4px 0 12px 0;
                    min-width: 270px;
                    @media (max-width: 600px) {
                        min-width: 0;
                    }
                }
            }
        }
        .socialBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .socialMargin {
                min-width: 270px;
                margin: 14px 0 0 0;
            @media (max-width: 1350px) {
                margin-right: 0;
                width: 100%;
            }
            }
        }
        .titleheadingBlock {
            display: flex;
            justify-content: space-between;
        }
        .titleReview {
            font-family: Blender;
            font-size: 16px;
            padding-top: 23px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $gray-500;
        }
        .subtitleReview {
            font-family: Blender;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: $gray-500;
            padding-top: 25px;
            line-height: normal;
        }
        .reviewWriteBlock {
            .sillyMargin {
                textarea {
                    min-height: 177px !important;
                }
            }
        }
        .buttonBlock {
            display: flex;
            justify-content: flex-end;
            padding-top: 44px;
            @media (max-width: 1300px) {
                justify-content: center;
                flex-wrap: wrap;
            }
            button {
                margin: 7px 11px;
                height: 40px;
                min-width: 190px;
            }
            .addButton {
                color: $blue;
                border: 2px solid $blue;
                background: transparent;
                &:hover {
                    color: #232323;
                    background: $blue;
                }
                @media (max-width: 1100px) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
    .rating {
        width: 50%;
        padding-left: 20px;

        @media (max-width: 900px) {
            width: 100%;
            margin-bottom: 40px;
            padding-left: 0px;
        }
        .title {
            font-family: Blender;
            font-weight: bold;
            letter-spacing: 1px;
            color: $gray-600;
        }
        .subTitle {
            font-weight: 500;
            line-height: 2.43;
            color: $gray-600;
            margin-bottom: 0;
        }
        .titleRating {
            .title {
                font-size: 22px;
            }
            .subTitle {
                font-size: 14px;
            }
        }
        .overalBlock {
            display: flex;
            padding-top: 19px;
            @media (max-width: 1150px) {
                flex-wrap: wrap;
            }
            .overContent {
                padding-left: 55px;
                @media (max-width: 1150px) {
                    padding-left: 0;
                }
            }
            .title {
                font-size: 16px;
                margin: 0;
                padding-top: 3px;
            }
            .subTitle {
                font-size: 11px;
                padding-top: 8px;
                line-height: 1.9;
            }
        }
        .accordionBlock {
            padding-top: 13px;
            padding-bottom: 13px;

            .card {
                background: transparent;
                border: 0;

                .cardBody{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    justify-content: space-between;

                    @media (max-width: 1300px) {
                        justify-content: center;
                    }
                    .propertyRating {
                        width: 48%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        
                        @media (max-width: 1300px) {
                            flex-wrap: wrap;
                            min-width: 297px;
                        }
                        @media (max-width: 350px) {
                            min-width: 182px;
                            justify-content: center;
                        }
                        :global(.rating-list li) {
                            cursor: pointer;
                        }
                        .ratingValue {
                            padding-top: 5px;
                        }
                        .subTitle {
                            font-size: 11px;
                            padding-left: 15px;
                            text-transform: uppercase;
                            @media (max-width: 350px) {
                                padding-left: 0;
                            }
                        }

                        .categoryInfo {
                            margin-left: 5px;
                            vertical-align: top;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
