@import "../../../styles/global.scss";
.AboutBlock {
    display: flex;
    margin-top: -11px;
    @media (max-width: 770px) {
        flex-direction: column;
    }
    .inputBlock {
        display: flex;
        input {
            height: 40px !important;
            width: 100% !important;
            color: $gray-300;
            padding: 10px 10px 10px 20px;
            font-size: 11px;
            border: none;
            box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(-180deg, #969696 17%, #5E5E5E 100%);
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                padding-right: 36px;
            }

            &::-webkit-input-placeholder {
                color: $gray-300;
            }
            &::-moz-placeholder {
                color: $gray-300;
            }
            &:-ms-input-placeholder {
                color: $gray-300;
            }
            &:-moz-placeholder {
                color: $gray-300;
            }
        }
        button {
            width: 155px;
        }
    }
    .EventsConBlock {
        width: 49%;
        padding-top: 22px;
        padding-left: 10px;
        @media (max-width: 770px) {
            width: 100%;
            margin-bottom: 42px;
            padding-left: 0;
        }
        .title {
            font-weight: bold;
            display: block;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            letter-spacing: 1px;
            font-size: 18px;
            padding: 7px 0 0 0;
            margin-bottom: 15px;
        }
        .subTitle {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 11px;
            font-family: Blender;
            letter-spacing: 1px;
            padding: 21px 0 0 0;
            margin-bottom: 12px;
        }
        .details {
            margin-top: 5px;
            margin-bottom: 17px;
            width: 100%;
            tr {
                td {
                    padding: 10px;
                    font-size: 14px;
                    color: $gray-600;

                    @media (max-width: 992px) and (min-width: 768px), (max-width: 500px) {
                        padding: 8px;
                        font-size: 12px;
                    }
                    @media (max-width: 400px) {
                        padding: 5px;
                    }
                }
            }
            .name {
                padding-left: 26px;
                color: $blue;
                @media (max-width: 992px) and (min-width: 768px), (max-width: 500px) {
                    padding-left: 8px;
                }
            }
            .icon {
                letter-spacing: 1px;
                white-space: nowrap;
                color: $blue;
                > * {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
                @media (max-width: 400px) {
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
            .date {
                text-transform: uppercase;
                font-size: 11px;
                @media (max-width: 992px) and (min-width: 768px), (max-width: 500px) {
                    font-size: 9px;
                }
            }
            .price {
                width: 30%;
                white-space: nowrap;
                @media (max-width: 992px) and (min-width: 768px), (max-width: 500px) {
                    width: auto;
                }
            }
        }
    }
    .infoBlock {
        width: 51%;
        padding-top: 26px;
        padding-left: 44px;
        @media (max-width: 770px) {
            width: 100%;
            padding-right: 10px;
            padding-left: 0;
        }
        @media (max-width: 400px) {
            padding-right: 0;
        }
        .subTitle {
            display: block;
            font-size: 11px;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-family: Blender;
            padding: 21px 0 0 0;
            letter-spacing: 1px;
            margin-bottom: 11px;
        }
        .title {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            color: $gray-600;
            font-size: 19px;
            font-family: Blender;
            padding: 21px 0 0 0;
            letter-spacing: 2.5px;
            margin-bottom: 12px;
        }
        .contentBlock {
            color: $gray-600;
            font-size: 16px;
            font-family: Blender;
            padding-top: 10px;
            line-height: 35px;
        }
    }
}
