@import "../../styles/global.scss";

.homeNavBlock {
    position: relative;
    max-width: 1365px;
    height: 498px;
    background: url(/images/home-bg.png) no-repeat;
    background-position: center calc(100% - -90px);
    background-size: auto 142%;
    margin: 0 auto;
    
    @media (max-width: 1250px) {
        background-position: center;
        background-size: 103%;
    }
    @media (max-width: 900px) {
        height: 418px;
    }
    @media (max-width: 800px) {
        height: 380px;
    }
    @media (max-width: 700px) {
        height: 330px;
    }
    @media (max-width: 600px) {
        height: 300px;
        a {
            display: none;
        }
    }
    @media (max-width: 500px) {
        height: 250px;
    }
    @media (max-width: 400px) {
        height: 230px;
    }
}

.navItem {
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    height: 87px;
    min-width: 142px;
    color: rgba(255, 255, 255, 0.5);

    &:link,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        color: $blue;
    }

    @media (max-width: 900px) {
        svg {
            height: 25px;
        }
    }

    .text {
        position: relative;
        padding: 3px 18px;
        margin-bottom: 20px;
        min-width: 120px;
        background-color: rgba(52, 52, 52, 0.4);
        border: solid 1px $gray-500;
        border-radius: 5px;
        border-bottom: none;
        font-weight: 100;
        font-size: 14px;
        letter-spacing: 1px;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 10px;
            width: calc(50% - 10px);
            border-bottom: 1px solid $gray-500;
            border-bottom-left-radius: 5px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: auto;
            height: 10px;
            width: calc(50% - 10px);
            border-bottom: 1px solid $gray-500;
            border-bottom-right-radius: 5px;
        }
    }

    .arrow {
        position: absolute;
        bottom: -7px;
        width: 16px;
        height: 15px;
        transform: rotate(43deg);
        left: calc(50% - 8px);
        border: 1px solid $gray-500;
        border-top: none;
        border-left: none;
    }

    &.left {
        left: 8%;
        top: calc(50% - 90px);
        @media (max-width: 1250px) {
            left: calc(13% - 95px);
            top: calc(53% - 102px);
        }
        @media (max-width: 900px) {
            left: 0;
        }
    }

    &.leftBottom {
        left: 14%;
        bottom: calc(5% + 100px);

        @media (max-width: 1250px) {
            left: 10.6%;
        }
        @media (max-width: 1100px) {
            left: 9.6%;
            bottom: calc(11% + 100px);
        }
        @media (max-width: 900px) {
            left: 8%;
            bottom: calc(11% + 70px);
        }
    }

    &.bottom {
        bottom: calc(2% + 51px);
        left: calc(50% - 76px);

        @media (max-width: 1250px) {
            bottom: calc(7% + 51px);
            left: calc(50% - 76px);
        }
    }

    &.rightBottom {
        right: 14%;
        bottom: calc(5% + 100px);

        @media (max-width: 1250px) {
            right: calc(10% + 8px);
        }
        @media (max-width: 1100px) {
            right: calc(9% + 8px);
            bottom: calc(11% + 100px);
        }
        @media (max-width: 900px) {
            right: 8%;
            bottom: calc(11% + 70px);
        }
    }

    &.right {
        right: 8%;
        top: calc(50% - 90px);

        @media (max-width: 1250px) {
            right: 6.4%;
            bottom: auto;
            top: calc(52% - 100px);
        }
        @media (max-width: 1100px) {
            right: 2.4%;
            top: calc(52% - 100px);
        }
        @media (max-width: 900px) {
            right: 0;
        }
    }
}
