@import "../../styles/global.scss";

.HomeSearch {
    height: 100px;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #222222, #000000, #222222);

    @media (max-width: 500px) {
        height: 80px;
    }
    .homeNavContent {
        height: 60px;
        display: flex;
        align-items: center;
        width: 590px;
        background-color: #000000;
        border: solid 3px rgba(33, 162, 203, 0.32);

        @media (max-width: 500px) {
            height: 50px;
        }
        :global(.Select) {
            font-size: 11px;
        }
        :global(.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label),
        :global(.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label) {
            color: $gray-300;
            text-transform: uppercase;
        }
        .dropDown {
            @media (max-width: 400px) {
                display: none;
            }
            :global(.Select-control) {
                min-width: 145px;
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
                input {
                    padding: 0;
                    color: $gray-300;
                }
            }
            :global(.Select-menu-outer) {
                border: none;
                z-index: 3;
            }
            :global(.Select-placeholder),
            :global(.Select-input),
            :global(.Select-control .Select-value) {
                color: $gray-300;
                height: 40px;
                line-height: 40px;
                font-size: 9px;
                letter-spacing: 2px;
                text-align: right;
                padding-right: 35px;
            }

            .selectArrow {
                width: 0;
                pointer-events: none;
                border: 7px solid transparent;
                border-top-width: 9px;
                border-bottom: 0;
                border-top-color: $blue;
            }
            .dropDownOption {
                background: #000000;
                border-bottom: $gray-700;
                color: $gray-300;
                font-size: 11px;

                &:hover {
                    background: $gray-700;
                }
            }
        }
        Input {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.9px;
            padding: 0 26px;
            border: none;
            background: transparent;
            color: $blue;

            @media (max-width: 500px) {
                padding: 0 15px;
            }

            &:focus {
                box-shadow: none;
            }
            &::-webkit-input-placeholder {
                color: $blue!important;
                text-transform: uppercase;
            }

            &:-moz-placeholder {
                color: $blue!important;
                text-transform: uppercase;
            }

            &::-moz-placeholder {
                color: $blue!important;
                text-transform: uppercase;
            }

            &:-ms-input-placeholder {
                color: $blue!important;
                text-transform: uppercase;
            }
        }
        .searchButton {
            margin: 7px;
            padding: 3px 34px;
            height: 40px;
            font-family: 'Blender';
            font-size: 16px;
            text-transform: uppercase;
            color: $gray-800;
            letter-spacing: 0;
            background-image: linear-gradient(-180deg, $blue 0%, $dark-blue 100%);
            border: none;
            cursor: pointer;

            &:active,
            &:focus {
                box-shadow: none !important;
            }
            &:hover {
                color: $white;
            }
            @media (max-width: 500px) {
                padding: 3px 15px;
                margin: 5px 2px;
            }
        }
    }
}
