@import "../../styles/global.scss";

.root {
    max-width: 1920px;
    margin: 0 auto;
}

.HomeContent {
    width: calc(100% + 30px);
    margin: 0 -15px;
    display: flex;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    @media (min-width: 1300px) {
        height: 227px;
    }
    .main{
        width: 34%;
        display: flex;
        background-image: radial-gradient(circle at 40% 58%, #323131, #191919);
        @media (max-width: 1300px) {
            width: 100%;
            padding: 19px 20px;
            display: block;
        }
        .images {
            height: 100%;
            position: relative;
            width: 45%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            > * {
                flex: 1 0 auto;
            }
            @media (max-width: 1300px) {
                top: 10px;
                width: 100%;
                height: 50%;
                margin-bottom: 10px;
            }
            .img {
                margin-top: 61px;
                img{
                    @media (max-width: 900px) {
                        width: 80%;
                        margin: auto;
                        display: block;
                    }
                }
                @media (max-width: 600px) {
                    margin-top: 70px;
                    margin-bottom: 20px;
                }
            }
            .icon {
                position: absolute;
                left: 50%;
                top: 37px;
                transform: translateX(-50%);
                padding: 0 18px;
                width: 101px;
                height: 48px;
                line-height: 45px;
                text-align: center;
                background-color: #000000;
                border-radius: 5px;
                border: solid 1px $gray-500;
                @media (max-width: 1300px) {
                    top: 10px;
                }

                svg {
                    vertical-align: middle;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: calc(50% - 12px);
                    bottom: -12px;
                    border: 12px solid transparent;
                    border-bottom: none;
                    border-top-color: $gray-500;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: calc(50% - 10px);
                    bottom: -10px;
                    border: 10px solid transparent;
                    border-bottom: none;
                    border-top-color: #000000;
                }
            }
        }
        .info {
            font-family: 'Blender';
            width: 250px;
            text-align: left;
            padding: 51px 60px 45px 0;
            @media (max-width: 1300px) {
                width: 100%;
                text-align: center;
                padding: 0 10px;;
            }
            span {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: bold;
                color: #696969;
                letter-spacing: 1px;
            }
            p {
                font-family: Roboto;
                font-size: 12px;
                margin: 0;
                line-height: 1.5;
                padding-top: 5px;
                color: #949494;
                @media (min-width: 1200px) {
                    height: 79px;
                    padding: 5px 0;
                }
            }
            .view {
                width: 81px;
                margin-left: 4%;
                padding-top: 3px;
                @media (max-width: 1300px) {
                    display: inline-block;
                    margin: 0;
                    margin-top: 20px;
                }
                a {
                    width: 100%;
                    padding-top:0;
                    padding-bottom: 0;
                    display: block;
                }
            }
        }
    }
}
