@import "../../styles/global.scss";

.HomePassion {
    width: calc(100% + 30px);
    margin: 0 -15px;
    background: url(/images/Man_infront_of_city.png) no-repeat;
    background-position: bottom;
    background-size: auto;
    padding-top: 110px;

    @media (min-width: 1200px) {
        height: 577px;
    }
    @media (max-width: 1200px) {
        padding-bottom: 461px;
    }
    .section{
        display: flex;
        padding: 0;
        justify-content: space-between;

        @media (max-width: 1000px) {
            flex-direction: column;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .info {
        max-width: 430px;
        text-align: left;
        padding-left: 16px;

        @media (max-width: 1275px) {
            max-width: 420px;
            padding-left: 0;
            padding-top: 20px;
        }
        @media (max-width: 1200px) {
            width: 50%;
            padding-top: 0px;
        }
        @media (max-width: 1000px) {
            width: 100%;
            max-width: 100%;
            padding: 0;
            margin-bottom: 40px;
        }
        .title {
            font-family: Blender;
            font-size: 36px;
            position: relative;
            font-weight: bold;
            letter-spacing: 0.6px;
            margin-bottom: 42px;
            color: $blue;
            @media (min-width: 1200px) {
                &:after {
                    content: '';
                    left: calc(100% + 13px);
                    position: absolute;
                    top: calc(100% + 14px);
                    width: calc(45% + 17px);
                    transform: rotate(40deg);
                    transform-origin: left bottom;
                    border-bottom: 1px solid #434343;
                    border-bottom-left-radius: 5px;
                    @media (max-width: 1274px) {
                        left: 100%;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: calc(100% + 14px);
                    width: calc(100% + 14px);
                    border-bottom: 1px solid #242424;
                    border-bottom-left-radius: 5px;
                    @media (max-width: 1274px) {
                        width: 100%;
                    }
                }
            }
        }
        .subInfo {
            font-size: 14px;
            font-weight: 500;
            line-height: 2.43;
            color: #717171;
            margin-bottom: 34px;
        }
        .readMore{
            width: 138px;
            margin: 0;
            padding-top: 3px;
            @media (max-width: 1200px) {
                display: inline-block;
                align-items: center;
                padding-top: 3px;
                margin: 0;
            }
            a {
                width: 100%;
                display: block;
            }
        }
    }
    .card {
        width: calc(50% - 20px);
        justify-content: flex-end;
        margin: 20px 17px 0 0;
        position: relative;

        @media (min-width: 1200px) {
            &:before {
                content: '';
                position: absolute;
                right: 0px;
                top: 50%;
                width: 100%;
                border-bottom: 1px solid #434343;
                border-bottom-left-radius: 5px;
            }
        }

        @media (max-width: 1200px) {
            width: 50%;
            margin: 0;
        }
        @media (max-width: 1000px) {
            margin: 0;
            width: 100%;
        }
        .cardContent {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            @media (max-width: 1000px) {
                justify-content: center;
            }
            @media (max-width: 500px) {
                flex-wrap: wrap;
            }
        }
        .wrapper {
            cursor: pointer;
            width: 193px;
            height: 170px;
            margin: 0 19px 30px 0;
            &:nth-last-child(-n+2){
                margin-bottom: 0;
            }
            &:nth-child(2n){
                margin-right: 19px;
            }
            @media (max-width: 450px) {
                margin: 0 10px 30px 10px;
                &:nth-child(2n){
                    margin-right: 10px;
                }
                &:nth-last-child(-n+2){
                    margin-bottom: 30px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .ImageWrapper {
            background-image: linear-gradient(to bottom, #979797 0%, #4d4d4d 100%);
            background-repeat: repeat-x;
            height: 100%;
            .image {
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
            }
            img {
                width: auto;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}
