@import "../../../styles/global.scss";


.reviewsList {
	margin-top: 105px;

	@media (max-width: 767px){
		margin-top: 50px;
	}
	> :global(.container){
		padding: 0;
	}
	.reviewCard {
		margin-bottom: 35px;
		&:nth-last-child(-n+2){
			margin-bottom: 0px;
		}
		@media (max-width: 767px){
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.characteristics {
	padding-left: 48px;

	@media (max-width: 991px){
		padding-left: 0;
		margin-top: 20px;
	}

	.overallTitle {
		margin-top: 5px;
		margin-bottom: 19px;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		font-family: Blender;
		color: $gray-700;
	}

	.overallRow {
		margin: 5px 0;
	    display: flex;
	    align-items: flex-start;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: Blender;
		color: $gray-600;
		padding-right: 0;
		&:nth-child(2n){
			padding-left: 5px;
		}
		@media (max-width: 575px){
			padding-left: 15px;
			&:nth-child(2n){
				padding-left: 15px;
			}
		}
		@media (min-width: 991px) and (max-width: 1200px){
			flex-wrap: wrap;
		}
		.ratingText {
			margin-left: 16px;
			@media (min-width: 991px) and (max-width: 1200px){
				width: 100%;
				margin-top: 5px;
				margin-left: 0;
			}
		}
		:global(.rating-list){
			margin-bottom: 0;
		}
	}
	.Button {
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 0.4px;
        margin-top: 5px;
        padding: 2px 12px;
        font-size: 15px;
        height: 20px;
        margin-left: 4px;
        width: 85px;
	}
}

.overallRatingContainer {
	> *{
		display: flex;
		font-family: Blender;
	}
	@media (max-width: 991px){
		.overallRatingItem:nth-last-child(-n+2) {
			margin-bottom: 0px;
		}
	}
	.chartContainer {
		flex: 1;
	}
	@media(max-width: 450px) {
		display: block;
	}
	.overallRatingValue {
		margin-right: 75px;

		@media(max-width: 1250px) {
			margin-right: 30px;
		}

		@media(max-width: 450px) {
			text-align: center;
		}
	    .value {
	    	margin-bottom: 6px;
	        color: $blue;
	        font-size: 34px;
	        line-height: 1;
	        font-weight: 600;
		    letter-spacing: 1.4px;

	        > * {
		    	display: inline-block;
		    	vertical-align: middle;
	        }

	        svg {
			    margin-left: 8px;
			    margin-top: 10px;
	        }
	    }
	    .subTitle {
	        color: $blue;
	        padding-left: 0;
	        line-height: 1;
	        font-size: 11px;
		    letter-spacing: 1.4px;
	    }
	    .review {
	        margin-top: 23px;
	        letter-spacing: 0.4px;
	        font-family: Roboto;
	        font-size: 11px;
	        color: $gray-600
	    }
	}
}
