@import "../../../styles/global.scss";

.chartItem {
	margin: 10px 0;
	display: flex;
	align-items: center;
	width: 100%;
	font-family: Blender;
	font-size: 11px;
	letter-spacing: 1px;
	color: $blue;

	:global(.progress) {
		height: 20px;
		max-width: 321px;
		min-width: 150px;
		margin: 0 20px;
		flex: 1;
        @include gradient-y($gray-800, $gray-900);

        :global(.progress-bar) {
        	@include gradient-y($blue, $dark-blue);
        }
	}
}