@import "../../../styles/global.scss";

.reviewCard {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	background-color: $black;
	border: none;
    color: $gray-600;

    @media(max-width: 400px) {
    	display: block;
    }

    .userInfo {
    	margin-top: 8px;

        .userData {
            margin-left: 7px;
        }
	    @media(max-width: 400px) {
	    	display: flex;
	    }
    	.userAvatar {
            position: relative;
            width: 122px;
            height: 107px;
            margin-bottom: 19px;
	    	@media(max-width: 992px) and (min-width: 768px) {
	    		width: 100px;
	    		height: 87px;
	    	}

    		img {
    			position: absolute;
    			top: 50%;
    			left: 50%;
    			transform: translate(-50%, -50%);
    			max-width: 100%;
    			max-height: 100%;
    		}
    	}

    	.userName {
    		margin: 16px 0 7px;
    		text-transform: uppercase;
			font-family: 'BlenderThin';
			font-size: 16px;
		    line-height: 1.3;
		    letter-spacing: 1px;

		    @media(max-width: 400px) {
		    	margin-top: 0;
		    }
    	}

    	.userLocation {
    		margin-bottom: 4px;
		    font-size: 11px;
		    letter-spacing: 0.7px;
    	}

    	.proSign {
    		margin-top: 2px;
    		white-space: nowrap;

    		> * {
    			display: inline-block;
    			vertical-align: middle;
    		}

    		span {
    			margin-left: 9px;
    		}
    	}
    }

    .reviewBody {
    	padding-left: 41px;

    	@media(max-width: 992px) and (min-width: 768px) {
    		padding-left: 30px;
    	}

	    @media(max-width: 400px) {
	    	padding-left: 0;
	    }
    }

	.rating {
		margin-bottom: 21px;
		> * {
			display: inline-block;
			vertical-align: bottom;
		}
		ul{
			margin-bottom: 0;
		}
		.ratingText {
			font-size: 10px;
			letter-spacing: 1.4px;
			text-transform: uppercase;
			font-family: 'Blender';

			span {
				margin: 0 7px 0 20px;
				font-size: 22px;
			}
		}
	    @media(max-width: 400px) {
	    	margin-top: 10px;
	    	margin-bottom: 10px;
	    }
	}

	.text {
	    font-family: 'Roboto';
        line-height: 1.8;
        font-size: 13px;
        letter-spacing: 0.5px;
	}

	.readMore {
		display: block;
		margin: 27px auto 17px;
		text-align: center;
		cursor: pointer;
	}

	a.readMore,
	.proSign {
		text-transform: uppercase;
		font-family: 'Blender';
		letter-spacing: 1.3px;
		font-size: 11px;
		color: $blue;

	}

	.userAccCreated,
	.reviewTime {
		font-family: 'Blender';
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
