@import "../../styles/global";

.ReviewHeader {
    padding-top: 97px;
    letter-spacing: 1px;
    @media (max-width: 770px) {
        padding-top: 40px;
    }
    .titleBlock {
        h1 {
            margin-bottom: 6px;
            @media (max-width: 600px) {
                font-size: 44px;
            }
            @media (max-width: 400px) {
                font-size: 32px;
            }
        }
    }
    .button {
        width: 157px;
        letter-spacing: normal;
        margin: 12px 0 0 13px;
        padding: 0;
        @media (max-width: 770px) {
            margin-left: 0;
        }
    }
}
