@import "../../styles/global";

.SectionHeader {
    text-align: center;
    min-height: 280px;
    background-image: radial-gradient(at top,#252525 20%, transparent 65%, transparent);
    @media (max-width: 400px) {
        min-height: 220px;
    }
    .Icon{
        margin-top: 28px;
        margin-bottom: 5px;
        height: 48px;
        width: 47px;
        position: relative;
        display: inline-block;
        
        &:after{
            background: linear-gradient(to bottom, #6b6b6b, #414141);
            border-radius: 8px;
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
            content: '';
        }
    }
    .icons {
        position: relative;
        height: 48px;
        z-index: 1;
        background: #0a0a0a;
        border-radius: 5px;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
    .Title {
        text-align: center;
        letter-spacing: 1.03px;
        font-size: 62px;
        line-height: 1;
        font-family: 'BlenderBold';
        text-transform: uppercase;
        background-image: linear-gradient($gray-600 20%, $gray-800 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        @media (max-width: 540px) {
            font-size: 45px;
        }
        @media (max-width: 400px) {
            font-size: 40px;
        }
    }
    .titleContainer {
        position: relative;
    }
    .Hero{
        position: absolute;
        width: 100%;
        top: 45px;
        margin-bottom: 15px;
        @media (max-width: 540px) {
            top: 30px;
        }
        @media (max-width: 400px) {
            top: auto;
        }
        img {
            max-height: 150px;
            width: auto;
            @media (max-width: 768px) {
                max-width: 70%;
            }
            @media (max-width: 600px) {
               max-height: 130px;
            }
            @media (max-width: 500px) {
               max-height: 100px;
            }
            @media (max-width: 400px) {
               max-height: 70px;
            }
        }
    }
}
