@import "../../styles/global";

.SimpleHeader {
    text-align: left;
    font-size: 3.5rem;
    text-transform:uppercase;
    font-size: 62px;
    font-family: 'BlenderBold';
    background-image: linear-gradient($gray-600 20%, $gray-800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
