@import "../../styles/global";

.ContentSection {
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    .watchlistBlock {
        width: 44.5%;
        margin-right: 31px;
        margin-left: 69px;
        margin-bottom: 32px;
        @media (max-width: 1200px) {
            width: 50%;
            margin-left: 0;
        }
        @media (max-width: 992px) {
            width: 100%;
            margin-right: 0;
        }
    }
    .notificationsBlock {
        width: 45%;
        margin-bottom: 32px;
        @media (max-width: 1200px) {
            width: 50%;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
    }
}
.dashboardTileBlock {
    max-width: 445px;
}

.dashboardTileBlock,
.watchListContent {
    margin: 0 auto;
    @include gradient-y($gray-800, $gray-900);

    .dashboardTileTitle {
        padding: 10px 16px 6px;
        text-transform: uppercase;
        font-size: 21px;
        font-family: 'Blender';
        letter-spacing: 1.6px;
        border-bottom: 2px solid $black;
        color: $gray-500;
    }
    .dashboardTileFooter {
        padding: 20px 15px;
        text-align: right;

        button {
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 0;
            padding: 0 10px;

            a {
                padding: 0 10px;
            }
        }
    }
}

.watchListContent {
    max-width: 918px;
    @media (min-width: 1000px) {
        margin-left: 62px;
    }

    .dashboardTileTitle {
        padding-left: 27px;
    }
}

.dashboardItem {
    padding: 15px 15px 25px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $black;
    color: $gray-500;

    @media (max-width: 500px) {
        flex-wrap: wrap;
    }

    .profileAvatar {
        min-width: 110px;
        height: 107px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .profileInfo {
        flex: 1;
        margin-left: 13px;
        min-width: 180px;
        font-size: 20px;
        letter-spacing: 1px;

        .awards {
            margin-top: 4px;
            .awardTag {
                display: inline-block;
                margin: 4px 7px;
                margin-left: 0;
                padding: 0 10px;
                font-size: 16px;
                color: $blue;
                border: 1px solid $blue;
                border-radius: 20px;

                > * {
                    vertical-align: middle;
                }
                svg {
                    path { fill: $blue; }
                }

                span {
                    margin-left: 15px;
                    font-size: 12px;
                    letter-spacing: 0.4px;
                    line-height: 2;
                }
            }
        }
    }

    .notifIcon {
        min-width: 26px;
        padding-left: 7px;
        font-size: 20px;
        font-weight: 600;
        color: $blue;
    }

    .notifInfo {
        flex: 1;
        margin-left: 10px;
        font-size: 12px;
        letter-spacing: 0.6px;
        font-weight: 100;

        .userName {
            margin-right: 5px;
            font-style: italic;
        }
        .listingName {
            margin: 0 5px;
            font-style: italic;
        }
    }

    .listingPhotoContainer {
        @media (max-width: 500px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .listingImage {
        margin: 0 auto;
        min-width: 131px;
        width: 131px;
        height: 82px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .listingInfo {
        flex: 1;
        align-self: center;
        margin-left: 8px;
        font-size: 12px;

        .listingTitle {
            font-size: 13px;
            letter-spacing: 0.4px;
            color: $blue;
        }
        .carYear {
            margin-left: 15px;
            color: $gray-600;
        }
        .listingRegion {
            text-transform: uppercase;
            font-family: 'Blender';
            font-size: 11px;
            letter-spacing: 1.3px;
        }
        .listingSummary {
            font-weight: 100;
            letter-spacing: 0.4px;
            line-height: 1.4;
        }
    }
    .listingPrice {
        margin-left: 10px;
        align-self: center;
        font-size: 20px;
        color: $gray-300;
    }
}

.watchListBigItem {
    align-items: center;
    padding-top: 17px;
    padding-left: 29px;
    padding-bottom: 17px;

    .listingInfo {
        margin-left: 39px;
        padding-bottom: 9px;
        @media (max-width: 768px) {
            margin-left: 20px;
        }
        @media (max-width: 500px) {
            margin-left: 0;
        }
    }
    .watchListItemControls {
        @media (max-width: 500px) {
            width: 100%;
            text-align: center;
        }
        button {
            margin-right: 4px;
            margin-top: 4px;
            margin-left: 10px;
            margin-bottom: 11px;
            height: 21px;
            display: block;
            min-width: 80px;
            padding: 0;

            @media (max-width: 500px) {
                display: inline-block;
                margin: 10px 5px;
            }
        }
    }
}
