@import "../../styles/global.scss";

.Footer {
    .contentFooter {
        background-image: radial-gradient(at top, #252525 20%, transparent 65%, transparent);
        padding-bottom: 30px;
        position: relative;

        @media (max-width: 1100px) {
            padding-top: 10px;
        }
    }
    .logoImg {
        text-align: center;
        padding: 0;
        flex-basis: 100%;
        width: 100%;
        font-family: 'Blender';
        @media (min-width: 1100px) {
            height: 263px;
        }
    }
    .logoIcon {
        width: 82px;
        height: 37px;
    }

    .borderNav {
        display: none;
        @media (min-width: 1100px) {
            height: 44px;
            display: block;
            content: '';
            width: 100%;
            border: 0.5px solid $gray-700;
            border-bottom: none;
            position: relative;
            &:after {
                content: '';
                bottom: 20px;
                position: relative;
                border: 0.5px solid #4d4d4d;
                border-top-width: 68px;
                z-index: 2;
            }
        }
    }

    .navBarBrand {
        .textIcon {
            width: 247px;
            height: 42px;
            margin-bottom: 12px
        }
        @media (max-width: 1100px) {
            margin: 0;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                border: 0.5px solid #4d4d4d;
                border-top-width: 130px;
                z-index: 2;
            }
        }
        @media (max-width: 800px) {
            &:after {
                border-top-width: 200px;
                z-index: 2;
                top: 110%;
            }
        }

        @media (min-width: 1100px) {
            text-align: center;
            padding: 54px 0 0 0;
            height: 206px;
            margin-right: 0;
        }

        svg {
            margin: 0 auto 10px;
            display: block;
        }
    }

    .MainNav {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        font-family: 'Blender';
        position: relative;

        .navPrivacy {
            text-align: left;
            padding-top: 7px;
            display: block;
            order: 0;
            width: 200px;
            cursor: pointer;

            a {
                font-size: 13px;
                height: 31px;
                font-weight: 500;
                text-decoration: underline;
                letter-spacing: 0.3px;
                display: block;
                color: $gray-700;
            }

            @media (max-width: 1100px) {
                order: 2;
                padding: 0;
                width: 100%;
                float: left;

                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            @media (max-width: 800px) {
                margin-top: 110px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        @media (max-width: 1100px) {
            text-align: center;
            padding: 0;
            align-items: center;
            flex-direction: column;
        }

        .navItems {
            flex: 1;
            margin-top: -10px;

            ul {
                width: 100%;
                flex-wrap: nowrap;
                justify-content: center;
                position: relative;

                li {
                    letter-spacing: 1px;
                    font-weight: 500;
                    flex: 0;
                    line-height: 1.25;
                    position: relative;
                    font-size: 16px;
                    @media (max-width: 1260px) {
                        flex: 1;
                    }

                    svg {
                        margin: 0 auto 10px;
                        display: block;
                    }

                    a {
                        padding: 0;
                        text-transform: uppercase;
                    }

                    @media (min-width: 1100px) {
                        a {
                            margin: 0 auto;
                            padding: 0 37px;
                        }
                        &:not(:first-child):after {
                            content: '';
                            position: absolute;
                            border: 0.5px solid #4d4d4d;
                            border-top-width: 32px;
                            top: 25px;
                            left: 0;
                            z-index: 2;
                        }
                    }
                    @media (min-width: 1260px) {
                        a {
                            white-space: nowrap;
                            padding-left: 40px;
                            padding-right: 33px;
                        }
                    }
                    @media (max-width: 1100px) {
                        min-width: 50%;
                        padding: 0 20px;
                        margin-bottom: 25px;
                    }
                    @media (max-width: 800px) {
                        margin-bottom: 15px;
                    }
                }

                @media (max-width: 1100px) {
                    flex-wrap: wrap;
                }

            }
            @media (max-width: 800px) {
                width: 100%;
                margin-top: 85px;
            }
        }

        .navSocial {
            width: 200px;
            margin-right: -10px;

            .positinSocila {
                float: right;
                padding-top: 21px;
                text-align: right;
                .titleSocial {
                    color: $gray-500;
                    display: block;
                    font-size: 12px;
                    letter-spacing: 4.3px;
                    padding: 0 0 12px 0;
                }
                a {
                    padding-right: 11px;
                    height: 31px;
                    display: inline-block;

                    &:last-child{
                        padding-right: 0;
                    }

                    @media (max-width: 1100px) {
                    }
                }
                @media (max-width: 1100px) {
                    float: none;
                    display: inline-block;
                    padding-top: 27px;
                }
            }
            @media (max-width: 1100px) {
                order: 1;
                width: 100%;
                padding: 0;
                margin-right: 0;
            }
        }
    }
    .navAbout {
        bottom: 27px;
        width: 100%;
        text-align: center;
        position: relative;
        display: block;
        a {
            font-size: 11px;
            letter-spacing: 1px;
            margin: 0 5px;
            min-width: 100px;
            display: inline-block;

            @media (max-width: 1100px) {
                padding: 0;
                margin: 0;
                display: block;
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        a,
        a:link,
        a:hover,
        a:visited {
            color: $gray-500;
            text-decoration: none;
        }
        @media (max-width: 1100px) {
            padding: 0;
            text-align: right;
            width: 100%;
            bottom: 30px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: 800px) {
            padding-right: 15px;
            padding-left: 15px;
            text-align: left;
            width: 100%;
            bottom: 140px;
        }
    }
    .Reserved {
        text-align: center;
        max-width: none;
        padding: 0;
        background-image: linear-gradient(to bottom, #212121, #000000);
        height: 78px;

        p {
            font-size: 13px;
            font-family: 'Blender';
            font-weight: 500;
            line-height: 1.83;
            padding: 25px 33px 0 0;
            color: $gray-700;
        }
    }
}
