@import "../../styles/global.scss";

.headerContent {
    display: flex;
    margin-bottom: 27px;
    @media(max-width: 992px) {
        flex-direction: column;
    }
    .titleBlock {
        width: 64%;
        justify-content: flex-start;
        @media(max-width: 1200px) {
            width: 67%;
        }
        @media(max-width: 992px) {
            width: 100%;
        }
        .headerTitle {
            margin: 98px 0 0 0;
            letter-spacing: 1px;
            line-height: normal;
            text-align: left;
            font-size: 3.5rem;
            text-transform:uppercase;
            font-size: 62px;
            display: block;
            font-family: 'BlenderBold';
            background-image: linear-gradient($gray-600 20%, $gray-800 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            @media(max-width: 992px) {
                text-align: center
            }
            @media(max-width: 510px) {
                font-size: 50px;
            }
            @media(max-width: 340px) {
                font-size: 40px;
            }
        }
        .infoBlock {
            display: flex;
            @media(max-width: 992px) {
                justify-content: center;
            }
            @media(max-width: 510px) {
                justify-content: center;
                flex-direction: column;
            }
            .ratingBlock {
                margin-right: 33px;
                @media(max-width: 510px) {
                    padding-right: 0;
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 8px;
                }
                .rating {
                    font-family: Blender;
                    font-size: 36px;
                    line-height: 25px;
                    font-weight: bold;
                    letter-spacing: 0.6px;
                    color: $blue;
                }
                .ratingInfo {
                    font-family: Blender;
                    margin-bottom: 0;
                    font-size: 11px;
                    line-height: normal;
                    font-weight: 900;
                    text-align: center;
                    text-transform: uppercase;
                    color: $blue;
                }
            }
            .iconBlock {
                margin-right: 23px;
                @media(max-width: 510px) {
                    margin: 7px auto;
                }
                ul {
                    margin-bottom: 0;
                }
                .views {
                    line-height: 8px;
                    font-family: Roboto;
                    font-size: 12px;
                    text-align: left;
                    color: $gray-600;
                    margin-bottom: 0;
                }
            }
            Button {
                width: 135px;
                height: 22px;
                padding: 1px 10px;
                margin-top: 9px;
                @media(max-width: 510px) {
                    margin: 12px auto;

                }
            }
        }
    }
    .imgBlock {
        width: 36%;
        padding-top: 16px;
        display: flex;
        justify-content: flex-end;
        @media(max-width: 992px) {
            width: 100%;
            justify-content: center;
        }
        div {
            float: none;
            width: 100%;
            margin-top: 15px;
        }
    }
}
.aboutBlock {
    display: flex;
    @media(max-width: 992px) {
        flex-direction: column;
    }

    .subTitle {
        font-family: Blender;
        font-size: 22px;
        margin-bottom: 12px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: left;
        color: $gray-600;
    }
    .contentBlock {
        width: 60%;
        @media(max-width: 992px) {
            width: 100%;
        }
        .servicesBlock {
            padding: 20px 18px 6px 18px;
            margin-bottom: 23px;
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            @media(max-width: 992px) {
                width: 100%;
            }
            .description {
                font-family: Roboto;
                margin-bottom: 21px;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5;
                text-align: left;
                color: $gray-300;
                p {
                    margin-bottom: 0;
                }
            }
            .servicesContainer {
                .serviceTag {
                    display: inline-block;
                    margin-right: 18px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.2px;
                    text-align: center;
                    margin-bottom: 20px;
                    padding: 6px 17px;
                    color: $blue;
                    border-radius: 14px;
                    border: 2px solid $blue;
                }
            }
        }
        .overviewBlock {
            padding: 20px 34px 14px 32px;
            margin-bottom: 31px;
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            .overviewTitle {
                font-family: Blender;
                font-size: 22px;
                font-weight: bold;
                line-height: normal;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $gray-600;
            }
            .ratingBlock {
                display: flex;
                margin: 37px 0 21px 0;
                @media(max-width: 510px) {
                    flex-direction: column;
                }
                ul {
                    margin-right: 19px;
                    @media(max-width: 510px) {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                    @media(max-width: 470px) {
                        display: flex;
                        flex-wrap: wrap
                    }
                    li {
                        padding-right: 5px;
                    }
                }
                .ratingSpan {
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 39px;
                    font-family: Blender;
                    letter-spacing: 0.6px;
                    color: $blue;
                }
            }
            .ratingInfo {
                display: flex;
                @media(max-width: 550px) {
                    flex-wrap: wrap;
                }
                .costBlock {
                    margin-right: 50px;
                }
                ul {
                    margin-bottom: 0;
                    height: 27px;
                    li {
                        margin-right: 2px;
                    }
                }
                span {
                    font-family: Roboto;
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    display: block;
                    text-align: left;
                    color: $gray-300;
                }
            }
        }
        .reviewsBlock {
            padding: 17px 6px;
            margin-bottom: 22px;
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            .buttonBlock {
                display: flex;
                justify-content: space-between;
                padding: 0 16px;
                @media(max-width: 470px) {
                    flex-wrap: wrap;
                }
                Button {
                    width: 125px;
                    height: 20px;
                    line-height: 1px;
                }
                h3 {
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                    color: $gray-300;
                }
            }
        }
    }
    .barBlock {
        width: 40%;
        padding-left: 50px;
        @media(max-width: 992px) {
            width: 100%;
            padding-left: 0;
        }
        .mapBlock {
            padding: 14px 17px 15px 17px;
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            margin-bottom: 30px;
            .map {
                width: 100%;
                height: 290px;
            }
            h2 {
                font-family: Blender;
                font-size: 36px;
                text-transform: uppercase;
                margin-top: 12px;
                font-weight: bold;
                margin-bottom: 0px;
                line-height: normal;
                letter-spacing: 0.6px;
                text-align: left;
                color: #717171;
                display: block;
            }
            .subTitle {
                margin: 0;
            }
        }

        .workshopInfoItem {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.3px;
            text-align: left;
            color: $gray-300;
        }
        .contactBlock {
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            margin-bottom: 33px;
            padding: 16px 20px 17px 20px;
            .addressBlock {
                margin-bottom: 17px;
            }
            .workshopInfoItem a {
                color: $blue;
            }
        }
        .scheduleBlock {
            background-image: linear-gradient(to bottom, $gray-800, $gray-900);
            padding: 16px 21px 21px 21px;
            margin-bottom: 20px;
            .workshopInfoItem span {
                display: table-cell;

                &:first-child {
                    min-width: 140px;
                    @media(max-width: 400px) {
                        min-width: 101px;
                    }
                }
            }
        }
    }
}
