@import "../../styles/global";

.SearchCars {
    padding: 0 0 75px 0;
    display: flex;
    margin-top: -5px;
    @media (max-width: 1200px) {
        padding: 0 5px 75px 5px;
    }
    @media (max-width: 1100px) {
        flex-direction: column;
        padding: 0 5px 30px 5px;
    }
    .filter {
        width: 25%;
        padding-right: 33px;
        @media (max-width: 1050px) {
            width: 40%;
        }
        @media (max-width: 1100px) {
            width: 100%;
            margin-bottom: 43px;
            padding: 0;
        }
        .titleBlock {
            display: flex;
            font-family: Blender;
            justify-content: space-between;
            .title {
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 1px;
                color: $gray-700;
            }
            .subTitle {
                font-size: 13px;
                font-weight: bold;
                letter-spacing: normal;
                color: $gray-700;
                line-height: 2.5;
            }
            .reset {
                font-size: 11px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: $blue;
                line-height: 3;
            }
        }
        .buttonBlock {
            height: 39px;
            margin: 25px 0 0 0;
            .addButton {
                height: 100%;
                width: 100%;
                color: $blue;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: normal;
                border: 1px solid $blue;
                background: transparent;
                &:hover {
                    border-color: $white;
                }
            }
        }
        .filterAccordion {
            padding: 14px 0;
            :global(.form-group) {
                margin-bottom: 0px;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
    .list {
        padding: 0 2px 0 9px;
        width: 75%;
        @media (max-width: 1100px) {
            width: 100%;
            padding: 0;
        }
        :global(.container){
            padding: 0;
        }
        :global(.pagination){
            margin-top: -11px;
        }
        .titleBlock {
            display: flex;
            font-family: Blender;
            justify-content: space-between;
            margin-bottom: 26px;
            @media (max-width: 450px) {
                flex-direction: column;
            }
            .title {
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 1px;
                color: $gray-700;
                padding-top: 9px;
                margin-bottom: 4px;
            }
            .subTitle {
                font-size: 13px;
                font-weight: bold;
                letter-spacing: normal;
                color: $gray-700;
                line-height: 2.5;
                margin-bottom: 5px;
                @media (max-width: 800px) {
                    font-size: 12.8px;
                }
            }
            .sort {
                line-height: normal;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: $gray-700;
            }
            .dropDownBy {
                min-width: 270px;
                margin-bottom: 0;
                @media (max-width: 800px) {
                    min-width: 121px;
                }
            }
        }
    }
}
