@import "../../styles/global.scss";

.reviewCard {
    padding: 11px 0 11px 0;
    display: flex;
    margin: 3px 0;
    flex-direction: row;
    font-size: 14px;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px $gray-800;
    color: $gray-600;

    @media(max-width: 400px) {
        display: block;
    }

    .userInfo {
        @media(max-width: 400px) {
            display: flex;

            .userData {
                margin-left: 30px;
            }
        }
        .userAvatar {
            position: relative;
            width: 63px;
            height: 62px;
            @media(max-width: 992px) and (min-width: 768px) {
                width: 100px;
                height: 87px;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
            }
        }

        .userName {
            color: #d2d2d2;
            margin: 5px 0 0;
            max-width: 60px;
            text-align: center;
            font-family: Roboto;;
            font-size: 11px;
            letter-spacing: 0.7px;

            @media(max-width: 400px) {
                margin-top: 0;
            }
        }

        .userLocation {
            margin-bottom: 4px;
            font-size: 11px;
            letter-spacing: 0.7px;
        }
    }

    .reviewBody {
        padding-left: 29px;

        @media(max-width: 992px) and (min-width: 768px) {
            padding-left: 30px;
        }

        @media(max-width: 400px) {
            padding-left: 0;
        }
    }

    .rating {
        margin-bottom: 3px;
        :global(.rating-list) {
            margin-bottom: 0;
        }
        @media(max-width: 400px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .text {
        line-height: 1.4;
        font-family: Roboto;
        font-size: 12px;
        margin-bottom: 4px;
        color: #d2d2d2;
        letter-spacing: normal;
    }

    .readMore {
        display: block;
        margin: 27px auto 17px;
        text-align: center;
        cursor: pointer;
        &:after {
            content: '';
            right: -19px;
            top: calc(50% - 4px);
            position: absolute;
            pointer-events: none;
            border: 5px solid transparent;
            border-top-width: 8px;
            border-bottom: 0;
            border-top-color: $blue;
            z-index: 2;
        }
    }

    a.readMore {
        letter-spacing: normal;
        font-family: Roboto;
        font-size: 12px;
        position: relative;
        margin: 13px 15px 0 0;
    }

    .reviewTime {
        font-family: 'Blender';
        font-size: 11px;
        display: flex;
        color: #d2d2d2;
        justify-content: space-between;
        letter-spacing: 1px;
        .date {
            height: 18px;
            font-family: Roboto;
            font-size: 12px;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: normal;
            color: #d2d2d2;
        }
    }
}
